[2019-07-28 03:50] krehman opened #1 "Door state not updating"
Hello, I have recently installed this plugin and the door state is not updating and remains stuck on either "Opening" or "Closing" and takes time to get the final state of Opened / Closed.

I'm not sure if I need to modify the polling states, etc.

[2019-07-28 20:06] iGino opened #2 "Issues with default Polling values"
My logs are getting flooded with updates every ~5 minutes (see below). I'm assuming this is due to the `longPoll` default being 300 seconds, so is there any disadvantage to setting this to a much higher (daily) value, or disabling it completely by setting `polling` to `false`?

[2019-07-29 00:18] iGino commented on #2
After updating the config with polling as false, I only get the poll each time I pull up the room (Garage) in the Home app:

[2019-07-29 00:18] #2 closed

[2019-07-29 00:20] iGino commented on #2
After updating the config with `polling` as `false`, I only get the poll each time I pull up the room (Garage) in the Home app:

[2019-07-29 13:24] krehman commented on #1
When using `homebridge-chamberlain` plugin, the issue is not reproducible.

As per [ECONNRESET Issue 45](https://github.com/caseywebdev/homebridge-chamberlain/issues/45#issuecomment-462546396) , updated `api.js` with
`'User-Agent': 'Chamberlain/3.120 (iPhone; iOS 12.3.1; Scale/2.00)',`

[2019-07-29 13:24] #1 closed

[2019-08-24 18:08] S1rPsych0 opened #3 "Same UUID as another bridged accessory"
Plugin works great until a reboot. When launching Homebridge after reboot, the error following is displayed:

[MyQ2] Error polling MyQ servers: Error: Cannot add a bridged Accessory with the same UUID as another bridged Accessory:

and Homebridge fails to start

[2019-08-26 13:22] DoctorOgg commented on #3
Yup!, same issues for me as well

[2019-09-02 06:02] stalinCCCP415 commented on #3
Same issue here.

[2019-09-02 20:50] hjdhjd commented on #3
Shutdown homebridge. Try deleting the persist folder and then restart. If that doesn’t work, delete the persist and accessories folders and then start homebridge. Please let me know if that does the trick.

[2019-09-02 20:53] stalinCCCP415 commented on #3
What works for me every time is deleting the cahcedaccessories file from Accessories, then restarting the container. On the next homebridge startup, same problem, same routine. Looks like the same issue is happening with other myq plugins (liftmaster2).

[2019-09-08 01:50] S1rPsych0 commented on #3
@stalinCCCP415 , yeah that's the only thing I've found that works. I created a script that deletes the cahcedaccessories file, then launches HomeBridge on startup. The problem with that is Home Kit sees my garage door as a new accessory  after any restart. Any settings or automations have to be reconfigured.

[2019-09-11 00:21] dppeak commented on #3
Was this fixed in the latest release of Liftmaster2?

[2019-09-11 00:25] DoctorOgg commented on #3
leaving the thread as i have given up and replaced with another solution

[2019-10-07 22:36] Dirtrunner702 commented on #3
Should we move onto another plugin? The issue continues to occur for me too. I also have 2 separate garage controllers configured.
![image](https://user-images.githubusercontent.com/25218695/66353960-3a69a600-e918-11e9-847d-10b7d9cfd3cb.png)

[2019-10-18 19:51] mcj opened #4 "Plugin failing starting 2019-10-18"
[code]

[2019-10-18 21:33] Judas2016 commented on #4
Same here; other MyQ plugins I have tried are also breaking

[2019-10-19 03:06] yvaldes022 commented on #4
Same error on mine

[2019-10-19 11:49] ludgats commented on #4
It seams like everyone using the plugin has the same issue.

[2019-10-19 16:33] nixta commented on #4
+1

[2019-10-19 17:59] ironScripter commented on #4
Me as well. This is the second plugin to do this.

[2019-10-19 18:15] nixta commented on #4
Not so sure. I'm able to get POSTMAN to give me a certificate if I change the `Content-Type` to `application/x-www-form-urlencoded`.

[2019-10-19 18:27] nixta commented on #4
The [myq-api](https://github.com/thomasmunduchira/myq-api/) seems to be able to connect fine for me. I wonder if homebridge-myq2 should just leverage that?

[2019-10-19 23:11] ironScripter commented on #4
I got this working......
It seems as though the MyQ API no longer likes User-Agent, ApiVersion, or BrandId to be included. When I tested with PostMan the API errors when you add those to the call. So to fix I commented out lines 19-21 from index.js in the main module folder. See my example below.
[code]

The log from homebridge then presented a validation error. I found that there was a nested mod

[2019-10-19 23:51] novacite commented on #4
Thanks ironScripter!  That works like a charm!

[2019-10-20 02:12] vfour commented on #4
Thank you @ironScripter ... works great!

[2019-10-20 03:10] dppeak commented on #4
I just changed the User-Agent to "myQ/14041 CFNetwork/1107.1 Darwin/19.0.0" and the ApiVersion to "5.1" and didn't need to make the other changes.

Got the updated details from @dxdc on an [issue thread](https://github.com/luisiam/homebridge-liftmaster2/issues/63#issuecomment-544077034) for homebridge-liftmaster2

[2019-10-20 06:06] bunchjesse commented on #3
The problem is how we're saving and loading the accessory from the cache. Homebridge expects the `accessories` property to be an array of accessories. We're currently storing these as a dictionary and they're not round-tripping correctly.

So this is failing:

`var accessory = self.accessories[thisDeviceID];`

[2019-10-20 06:22] bunchjesse commented on #3
Scratch that...looks like Homebridge isn't properly saving the serialized `accessory.context`?

[2019-10-20 06:49] bunchjesse commented on #3
Alright. Figured it out. The `accessory.context` is not being written out to the accessory cache. This happens because the accessory cache is only written when registering or updating accessories.

We either need to a) delay calling `registerPlatformAccessories` until after we build up the `accessory.context` or call `updatePlatformAccessories` once we're done.

I added the following after line 38

[2019-10-20 13:27] hjdhjd commented on #3
Brilliant deductive insight. Thanks @bunchjesse - owe you one.

Will push out an updated version at some point this weekend.

[2019-10-20 13:44] dxdc commented on #4
@ironScripter @dppeak Wow... nice detective work. Strangely, it seems they were only blocking a *specific* `User-Agent` value (or set of values?)? Perhaps this was to discourage the use of an older iOS app.

Didn't test this myself, but this (also) apparent fix is amusing.

https://github.com/caseywebdev/homebridge-chamberlain/pull/55/commits/a3a33996f9f04220a38aac7fdfdc14dbd48df8d6

[2019-10-20 19:32] MAscooby commented on #4
Posted a pull request with UserAgent and ApiVersion values suggested by @dppeak which are working for me.

[2019-10-21 02:54] hjdhjd commented on #3
Fixed in 1.1.4.

[2019-10-21 02:54] #3 closed

[2019-10-21 02:55] hjdhjd commented on #4
I'll be fixing this shortly...

[2019-10-21 03:06] hjdhjd commented on #4
Fixed in 1.1.5.

[2019-10-21 03:06] #4 closed

[2019-10-21 04:38] benjackson1111 commented on #4
this is what worked for me, the other solution didn't work. Thank you!

[2019-10-21 04:40] hjdhjd commented on #4
@benjackson1111 you can just update to the latest version of this plugin and all fixes are incorporated, plus a couple of others.

[2019-10-21 04:41] benjackson1111 commented on #4
Cool! Nicely done

[2019-11-12 20:47] Claywd opened #8 "Stopped working"
this randomly stopped working a month ago. No logs or errors... I used postman to duplicate the request its making, everything seems fine, except that its not working anymore. lol

So I switched to homebridge-chamberlain and that works flawlessly

[2019-11-27 22:57] #8 closed

[2019-12-08 16:19] jehrler opened #9 "Status reflected in Home App on macOS or iOS"
Wonderful plugin!

My only confusion is that I have the toggle switch to "Include in Status" but the summary on both the macOS and iOS versions of Home do not list garage door open/close in the status summary.
<img width="1020" alt="Screen Shot 2019-12-08 at 10 14 39 AM" src="https://user-images.githubusercontent.com/52459114/70392261-c1341100-19a3-11ea-8ae6-f82245b1cac5.png">
<img width="415" alt

[2019-12-08 18:21] jehrler commented on #9
OK, I see that the status is only reflected when the door is open, not when it is closed.  Any chance to have the status, regardless of open/closed, in summary?  Or is this an Apple limitation?  Would be nice to tell at a glance where the garage door is at.

[2019-12-14 19:58] thomasthechan opened #10 "Any way to disable the beeping when closing a door?"
I greatly appreciate your putting this together. Just a question if disabling the beeping when closing a door is possible.

[2019-12-16 04:46] russmo commented on #10
Not sure what device you have, but I successfully disabled the speaker on my MyQ wall button unit. Not through software, but by desoldering the piezo buzzer from the board. I also did this on another unit by prying the plastic cover off the speaker unit and ripping out and snipping the small wires inside. Others have poured glue inside the hole on top the speaker and quieted it significantly.  I c

[2019-12-28 20:33] hjdhjd commented on #9
I'm afraid this is an Apple-ism. Your best bet would be to add this to your Favorites so it's always on the main screen and it will show you whether it's open or closed. Thanks!

[2019-12-28 20:33] #9 closed

[2019-12-28 20:34] hjdhjd commented on #10
There isn't a way to control this in the API. Additionally, I believe it's a regulatory requirement in most municipalities to beep when an unattended door is closing. I don't think it's easily disabled. Thanks!

[2019-12-28 20:34] #10 closed

[2020-01-01 23:00] thomasthechan commented on #10
Thanks all, that makes sense. When using HomeKit or the MyQ app, closing always beeps.

[2020-01-07 00:41] patricegautier opened #12 "using gateways"
Hi there -

Trying to use the gateways option to filter out some of the openers present in the online account, my home bridge config looks like:

       {
            "platform": "MyQ2",
            "email": "xx",
            "password": "yy",
    	   "gateways": [ 9924957, 1807684652 ]
        }

but all I am able to get is something like:

[1/6/2020, 3:07:32 PM] [MyQ2] Error: Couldn't find a MyQ

[2020-01-07 04:12] bwoodruff opened #13 "Notification is sometimes backwards?"
Apologies for not having reliable steps to reproduce. I don't notice this all the time, and I'm not entirely sure under which conditions it occurs.

The problem is that I just had the door close through a time-based automation, but the HomeKit notification showed "Garage Door was opened." Checking the Home app the door shows as closed. Checking the actual door, it is closed.

Perhaps this is an is

[2020-01-25 15:41] hjdhjd commented on #13
I've seen quirkiness from time to time in HomeKit automations, but not specific to this (or other) plugins. What's the automation you're specifically trying?

[2020-01-28 20:52] wangel opened #14 "Error every 30minutes"
It doesn't seem to be causing an issue, but every 30minutes I get this in my log file:

`[MyQ2] Error polling MyQ servers: FetchError: request to https://myqexternal.myqdevice.com/api/v4/UserDeviceDetails/Get failed, reason: getaddrinfo ENOTFOUND myqexternal.myqdevice.com`

It appears that my door and the home app work just fine, it's just something I noticed and am not sure if I really should wor

[2020-01-30 22:37] bwoodruff commented on #13
@hjdhjd

In theory it should be a fairly simple automation... it closes the door at a specific time. Unfortunately it is an intermittent problem, as with all of the best software problems.

[2020-02-16 15:34] dakotahp opened #15 "Constant Polling of myqexternal.myqdevice.com"
I am running homebridge on a Raspberry Pi that happens to have Pi-Hole on it. After less than 24 hours of installing the plugin, I noticed something amiss with the frequency of how often it's hammering the `myqexternal.myqdevice.com` host. I believe there is a bug in the polling reset logic somewhere because the plugin _works_ but seems to be constantly updating the state or something to the exter

[2020-02-16 16:03] dakotahp commented on #15
I ran it locally and added some logging to the code. It was hitting `/api/v4/UserDeviceDetails/Get` which is the status check every 5 seconds or so. I misread the A and AAAA requests as distinct but in reality the requests are around 5 seconds apart per the configuration. That's more reasonable to me.

[2020-02-16 16:03] #15 closed

[2020-02-19 01:43] shafnitz commented on #14
So this does seem to affect things, at least in my experience. The plugin polls the MyQ servers about every 15 seconds. Once it encounters the error, it no longer attempts to poll the servers, until the Home app is opened again by the user. The result is, if you're using Siri to open your garage, for example, Siri will timeout in attempting to open the garage. It still does, usually open the garag

[2020-03-14 01:33] jeylites opened #17 "Auto Close Garage Door"
Hi
Currently, using the plugin it works great, just wondering if the Auto close function works.

 I would like to close the garage door after 20sec. Can this be done on the json config?

[2020-03-24 23:02] Glitch482 opened #19 "Error getting MyQ devices: Error processing request (217)"
Garage door(s) are no longer responding as of yesterday evening, getting a repeated "Error getting MyQ devices: Error processing request (217)" message in logs.

Anyone else experiencing similar issues?

[2020-03-24 23:49] jerrywmartin commented on #19
I am having the same problem. It quit working yesterday.

[2020-03-25 00:12] ronald-mendoza commented on #19
Same/similar issue here as well

[2020-03-25 12:53] thorleo commented on #19
Same issue here. No changes were made on my end.

[2020-03-25 14:05] therealbrad commented on #19
Same. When it first happened I went to the MyQ page and got a 503 response when trying to list my subscriptions. I see that their site is working today but still getting the 217 error message.

[2020-03-25 21:25] dswee999 commented on #19
Getting the same message here and made no changes.

[2020-03-25 22:50] wangel commented on #19
Same here.  My guess is they've changed something in their protocol / API and broke the plugin.

Will need to wait for someone to reverse engineer it again I assume.

[2020-03-25 22:57] patricegautier commented on #19
for what it's worth, things are still working here.

[2020-03-26 22:10] Glitch482 commented on #19
Moved to the homebridge-chamberlain plugin in the meantime, working well.

[2020-04-02 16:03] byronavory commented on #19
In the notes for homebridge-chamberlain, there appears to certain pieces of the API call that he had to move from v5 to v5.1. I wonder if that has something to do with the recent security changes in the app. Regardless, homebridge-myq2 and homebridge-liftmaster2 appear to be using api v4.

[2020-04-02 16:29] thorleo commented on #19
Yup ^^. I ended up moving to homebridge-chamberlain .

[2020-04-23 23:16] dinof40 commented on #19
Did the move to the other app make any difference? I'm getting a lot of the error, but the door is still working. As far as I can tell they are both using the same API.

"ApiVersion": "5.1", in MyQ .js file

[2020-04-24 14:06] powaking opened #20 "Add addition button press to open"
Find it too easy to mistakenly open the garage by clicking the button via a single tap. Possible to make it a double tap to open the door? Is this possible or a limitation of homekit?

[2020-05-01 16:44] TheEngineerGuy opened #21 "ECONNRESET - Error polling MyQ servers: FetchError:"
Error polling MyQ servers: FetchError: request to https://myqexternal.myqdevice.com/api/v4/UserDeviceDetails/Get failed, reason: read ECONNRESET

Hi Byron,
I saw this error this morning at 9:14AM, which made the plugin miss door status changes at 10:05AM. Till I triggered it manually by opening Home app, plugin was missing all status changes(as per the logs).  This makes me think that the error ma

[2020-05-20 00:59] hjdhjd commented on #19
All - I don’t see this issue, and I use this plugin daily. If someone is still seeing this problem, can someone ping me here? Otherwise...when I’ve seen errors like this, it’s typically been due to server issues on Liftmaster / Chamberlain’s side. Let me know.

[2020-05-20 01:02] hjdhjd commented on #21
Thanks for the input. I haven’t seen this behavior aside from occasional server issues on Liftmaster’s side. They will occasionally miss notifications because of their own server maintenance and uptime. Are you still seeing this behavior?

[2020-05-20 01:05] hjdhjd commented on #12
Are you still having a challenge here?

You can specify a gateway by name or by ID. Do you know your gateway IDs?

Also, you should try specifying the gateways as strings, not integers in your config file. Thanks!

[2020-05-20 01:07] hjdhjd commented on #13
Apologies @bwoodruff - if you can reproduce it in a testable way, happy to look at it. Otherwise I’m going to close this one out. Thanks again.

[2020-05-20 01:07] #13 closed

[2020-05-20 01:23] TheEngineerGuy commented on #21
I am still facing the problem. I made a hack script to fix it. I tail the log, and when ECONNRESET shows up, it restarts HomeBridge service. The only way I can think of an automating a "fix".

If I don't do it, it never retries a connection back to server.

[2020-05-20 01:31] hjdhjd commented on #21
This should be fixed In 1.2.19 that I just released...let me know. Thanks @TheEngineerGuy!

[2020-05-20 01:35] hjdhjd commented on #17
This can't. You can create an automation to do this though in HomeKit. Take a look at homebridgee-delay-switch - it will allow you to create a timed delay. If you create an automation around garage open and close events, you should be able to get to what you want to do. Thanks!

[2020-05-20 01:35] #17 closed

[2020-05-20 01:36] hjdhjd commented on #14
Should be fixed in 1.2.19 @wangel and @shafnitz - feel free to test and reopen this if it's still an issue.

[2020-05-20 01:36] #14 closed

[2020-05-20 01:37] hjdhjd commented on #20
It isn't...this is a HomeKit UI challenge, not anything this plugin can do about it. Thanks!

[2020-05-20 01:37] #20 closed

[2020-05-20 01:49] hjdhjd commented on #19
I should also add...I'll be working on updating the MyQ API version to v5+ over the next week or two. There are some substantial changes to the API that need to be resolved.

[2020-05-20 01:53] TheEngineerGuy commented on #21
Ok. Let me test it out. Will report after the next ECONNRESET.

[2020-05-20 02:17] hjdhjd commented on #21
No worries!

[2020-05-20 03:21] lherlitz commented on #21
I'm still having this issue:

`[MyQ2] Error setting the target: FetchError: request to https://myqexternal.myqdevice.com/api/v4/DeviceAttribute/PutDeviceAttribute failed, reason: connect ETIMEDOUT `

[2020-05-20 03:23] TheEngineerGuy commented on #21
Getting Errors is fine. Because we don't control MyQ servers. Handling these errors gracefully is what we can control. So, if plugin keeps working after this error, kindly ignore.

[2020-05-20 03:25] hjdhjd commented on #21
You beat me to it. @TheEngineerGuy :)

I also suspect that part of the weirdness we will start to see more and more of is that we’re still using the older API. A new API came out last fall...I’ve been putting off dealing with it, but I think that’s the work ahead in the coming weeks. It’s effectively a rewrite of the API portion of the plugin, so yay for more work. Thanks Liftmaster / Chamberlain.

[2020-05-20 03:26] #21 closed

[2020-05-20 03:36] TheEngineerGuy commented on #21
LOL!! All good my man.

In regards to new API, I got out of coding quite a few years ago, so if I decided to help I would only make matters worse. Good luck though.

[2020-05-20 03:41] hjdhjd commented on #21
Me too. :) This is what I do to relax and keep my mind somewhat sharp. I miss the days of elegant languages like C. Node and their ilk are...inelegant is probably the nicest word I can think of. Yeah, they work, but I always find myself thinking "and the younger generations think THIS is an upgrade from the days of structured programming languages?!".

Alright...back to the show.

[2020-05-20 03:50] TheEngineerGuy commented on #21
I miss C and C++, the Borland compiler. Good old days. Young folks would never know the joy of coding their own header file when a function in math.h doesn't exist to calculate a factorial.

[2020-05-20 14:50] rcoletti116 opened #22 "Question about recent releases 1.2.X"
There have been many releases the last few days. I'm curious if there be some general release notes from 1.2+?

Thanks!

[2020-05-20 14:59] donavanbecker commented on #22
I would be interested in a changelog too.

[2020-05-20 18:53] patricegautier commented on #12
No longer an issue - I solved this with the 'openers' branch

[2020-05-20 18:53] #12 closed

[2020-05-21 00:12] hjdhjd commented on #22
UI updates and a few minor fixes like dealing with a timeout / resume issue someone called out. New feature about to be added around opener selection / filtering.

The major version bump was because we’re now a verified plugin, primarily.

Next major release will be to focus on implementing the latest MyQ API. They bumped major versions to 5 (and 5.1)...it’s effectively a whole new API to deal wit

[2020-05-21 00:12] #22 closed

[2020-05-21 00:40] #19 closed

[2020-05-27 09:28] jcbigears opened #23 "Door not closing"
Hi there.
Having an issue with the door not closing. It’s perhaps a polling issue that I need to adjust - I'll accept the blame entirely! The door opens under command of either HomeKit or within Homebridge, but doesn’t close. I can only seem to make it close manually. Can you help? I’ve attached my logs from today.
[logs.txt](https://github.com/hjdhjd/homebridge-myq2/files/4688268/logs.txt)

Have

[2020-05-31 18:54] sandeen opened #24 "RFE: Door sensor battery status"
I see that there is a battery status in the MYQ API:

[code]

Does the Homekit accessory support low battery status, and if so can this be added to the plugin?
I tried just hacking in a value:

[code]
 and battery status is then shown, but I got:

[code]
so maybe this isn't supported in HomeKit but I'm not too familiar; not sure if this is a homebridge limitation, a homekit limitation, or ...???

[2020-06-03 15:16] hjdhjd commented on #23
@jcbigears Thanks! So...it's a polling issue from what I can see in the logs. I've had this problem myself. The challenge is that this is a polling API, not a push / notification API. So there's no way to ask MyQ to **tell** us that things are opening or closing.

The workaround that all the unofficial MyQ plugins use is to poll at regular intervals and hope to catch the open and close events.

Th

[2020-06-03 17:14] #24 closed

[2020-06-05 16:29] SafariKC opened #25 "Gateways and Openers constraints don't work through Config UI X"
The current descriptors for Config UI are forcing the Arrays to come in quoted.  Which isn't ready by the plugin appropriately.  I'm hoping you an change the descriptor in Config UI X to be able to have the output in the config look like this instead which is much cleaner:

[code]

Today the plugin puts it in this format which doesn't actually constrain anything as it is not an array, it's a strin

[2020-06-08 22:02] sandeen commented on #24
Actually I think the error I mentioned was just due to my hackishness and not setting things up properly in the plugin.

I have a patch for the current release that seems to properly show battery status but I'll keep an eye on your refactoring and see about merging it after you're done.

It's a little hard to test because even my "low" battery, if I remove & replace, looks good again for a while.

[2020-06-09 00:26] hjdhjd commented on #24
LOL...feel free to create a PR against what’s there now. The refactor is going to take a bit...I got distracted with a different side project for the last couple of weeks.

Much appreciated @sandeen!

[2020-06-09 00:55] sandeen commented on #24
OK I'll clean it up a little and do so, and you should _most_ _definitely_ review it, I'm completely new at homekit. :)

[2020-06-09 02:41] hjdhjd commented on #24
We are all new until we are not. :smile:

[2020-06-10 21:58] bwoodruff opened #29 "Plugin logging often even with verbose false"
* homebridge 1.1.0
* homebridge-myq2 v1.2.22
* verbose = false (default)

<details><summary>homebridge.log</summary>
<pre>
[6/10/2020, 4:03:02 PM] [MyQ2] Garage Door Opener is closed.
[6/10/2020, 4:03:05 PM] [MyQ2] Garage Door Opener is closed.
[6/10/2020, 4:10:23 PM] [MyQ2] Garage Door Opener is closed.
[6/10/2020, 4:10:27 PM] [MyQ2] Garage Door Opener is closed.
[6/10/2020, 4:12:15 PM] [MyQ2] Ga

[2020-06-17 20:25] robertgranholm opened #31 "Does this work with Lockitron Bolt, which now is under MyQ"
MyQ has absorbed a smart lock called Lockitron Bolt, I can control this lock inside the MyQ app, and i am looking to control it in the Home app - does this homebridge plugin enable me to do that?

[2020-06-25 19:22] HunterJKirby opened #32 "Login Error: FetchError preventing garage from updating in home app"
The log references an invalid json response because of a unexpected number in the json. Confirmed an issue by multiple Reddit users.

[2020-06-25 19:23] mikeb3408 commented on #32
I just started getting this about 10 minutes ago

[2020-06-25 19:39] DMBlakeley commented on #32
I am seeing the error on all devices connecting through Homebridge: myQ, Nest, Alarm.com. So, don't believe it is a MyQ issue.

[2020-06-25 19:41] mikeb3408 commented on #32
I was too. When I unstalled the MYQ2 plugin everything worked fine again,
could be a coincidence?

On Thu, Jun 25, 2020 at 3:39 PM Doug B <notifications@github.com> wrote:

--
_______________
Michael Brown
Cell: 336.509.4005

[2020-06-25 19:46] DMBlakeley commented on #32
Your cell number is in your post, may want to edit to remove ...

[2020-06-25 19:48] mikeb3408 commented on #32
Thanks for the heads up. I removed it, I initially replied through email and it came over

[2020-06-25 19:48] joconor commented on #32
Another chamberlain plugin is reporting that they needed to update the app build number in the user agent string. See https://github.com/iRayanKhan/homebridge-chamberlain/issues/105
Not sure if this is the same issue with myq2, but amazing coincidence if it isn't

[2020-06-25 19:49] andrewturko opened #33 "FetchError"
Getting:

`Login error: FetchError: invalid json response body at https://myqexternal.myqdevice.com/api/v4/User/Validate reason: Unexpected number in JSON at position 115`

as of 14:21 EST this afternoon. I'm not certain this is a server outage, or issue with v4 API?

[2020-06-25 19:49] #33 closed

[2020-06-25 19:50] andrewturko commented on #33
Duplicate of #32. Closing.

[2020-06-25 19:59] DMBlakeley commented on #32
I changed my version of this index.js (I have 3 pull requests submitted), line 15 from:
`var UA_ID = "myQ/14041 CFNetwork/1107.1 Darwin/19.0.0";`

to:
`var UA_ID = "myQ/19569 CFNetwork/1107.1 Darwin/19.0.0";`

and this resolved the issue. Will submit additional pull request.

[2020-06-25 20:28] sebastiangoldstein opened #34 "Unexpected number in JSON at position 115"
I was having some naming issues with the Garage Doors so I uninstalled and reinstalled.
Now garage doors won't show up in HomeKit
and I keep getting this error in the Log:
https://myqexternal.myqdevice.com/api/v4/User/Validate reason: Unexpected number in JSON at position 115

[2020-06-25 20:30] andrewturko commented on #34
This is very likely a duplicate of #32, of which [this comment](https://github.com/hjdhjd/homebridge-myq2/issues/32#issuecomment-649787215) references a fix for.

[2020-06-25 20:36] DMBlakeley commented on #32
I have submitted a PR with the change to address this issue.

[2020-06-25 20:38] andrewturko commented on #32
@DMBlakeley I'd appreciate if you could share the easiest way of getting this up and running without waiting for pull request to be implemented in meantime?

[2020-06-25 20:44] sandeen commented on #32
This, I think:

--- index.js.orig	2020-06-25 15:43:08.767901682 -0500
+++ index.js	2020-06-25 15:43:19.097835772 -0500
@@ -12,7 +12,7 @@

[code]

[2020-06-25 20:45] sandeen commented on #32
(weird that it has to be in sync, though?)

[2020-06-25 20:50] DMBlakeley commented on #32
This is the change which I made and will get you up and running again.

As the myQ API is not public all of the myQ based apps have struggled to keep up with changes. Fortunately another app figured it out first and I must transferred the solution.

[2020-06-25 20:58] sandeen commented on #32
Just curious, does that mean that un-updated ios apps also stop working until they're updated?  Seems strange.

[2020-06-25 21:09] DMBlakeley commented on #32
Interesting question. The iOS myQ app was updated a week ago and for some strange reason the myQ plugins stopped working today.

[2020-06-25 21:11] whreams commented on #32
Ditto.

[2020-06-25 21:32] andrewturko commented on #32
@DMBlakeley For those installing via config-ui-x, what is best way forward to implement before it's published to npm?

[2020-06-25 21:56] sandeen commented on #32
So... my wife, who conveniently never updates her apps :) has the old MyQ app version 4.x.something on her iphone, and it works fine .... my app is at 5.x.something now.

[2020-06-25 22:04] dustyberry1 commented on #32
Edit the index.js for the plugin as indicated in comment above. If on raspbian you can find location of your plugins with

`cd $(npm -g prefix)/lib/node_modules `

[2020-06-25 22:09] jinexists commented on #32
@dustyberry1
Worked for me on Ubuntu 20.04, thanks!

[2020-06-25 22:46] kbrashears5 commented on #32
can confirm this works on raspberry pi, thanks for the tip!

[2020-06-25 22:55] kevinchau commented on #32
I mentioned this issue in the Homebridge repo as MyQ being broken would cause all devices to show up as Not Responding, I'm not sure if this is an issue related to this plugin, or the Homebridge project. I'm leaning towards the latter.

I don't know if I am the only one to experience all devices showing as not responding, caused by the MyQ plugin.

https://github.com/homebridge/homebridge/issues/2

[2020-06-25 22:57] whreams commented on #32
If you are serving on a Mac, and don't update the index.js, how will the fix go into place?  Will it happen automatically or will a update need to be pushed down to all users?

[2020-06-25 23:01] kbrashears5 commented on #32
This is exactly why I have every service in its own homebridge instance - every service is agnostic from each other so if one breaks the rest still work

[2020-06-25 23:01] kevinchau commented on #32
You will need to wait for the update to be pushed to npm and then update from the UI.
On Jun 25, 2020, 3:57 PM -0700, whreams <notifications@github.com>, wrote:

[2020-06-25 23:09] andrewturko commented on #32
I can confirm editing via nano was successful, however the file path differed from the one above. It was under /usr/local/lib/node_modules/ due to it being installed locally from config-ui-x on Buster.

[2020-06-25 23:09] kevinchau commented on #32
I’ve never thought about doing this. It’s a good idea.

Ideally homebridge shouldn’t break because one plugin is reporting something unexpected.

[2020-06-25 23:11] sandeen commented on #32
FWIW, I had the same "homebridge-myq2 took down my whole instance" problem.

[2020-06-25 23:19] DMBlakeley commented on #32
I had the same issue with the homebridge-myq2 issue impacting all of my homebridge plug-ins. Apparently as this was the first plug-in to install, the error aborted the other plug-in installs. Good solution offered by @kbrashears5.

[2020-06-25 23:29] TheEngineerGuy commented on #34
I have performed now changes for quite a few days, but since this morning I am getting this error as well. Seems to be some change on MyQ service end.

Looking at the previous comment, we possibly need a similar fix on this plugin as well.

[2020-06-25 23:32] DMBlakeley commented on #34
See issue #32 which is the same problem. Solution posted in that conversation. I have submitted PR to correct but as I am not owner cannot release.

[2020-06-25 23:34] TheEngineerGuy commented on #34
Thanks @DMBlakeley Appreciate it bud.

[2020-06-25 23:59] csmith408 commented on #32
anyone have any luck i deleted my plugin in hoobs but everything else is still non responsive..  anyone know how to login to hoobs via term the password doesn t work when i shh in it, i have tried admin and hoobsadmin and password

[2020-06-26 02:06] cilianospina commented on #32
Work perfect thanks

[2020-06-26 03:08] jianyu-li commented on #32
Can confirm this us happening to me as well. All plugins stopped working until I removed this plugin. Following for the next commit

[2020-06-26 03:10] sandeen commented on #32
I lazily put a patch in a comment in homebridge/homebridge#2615 that fixes the "every other plugin gets hung up" problem for me.  I don't know if it's correct or optimal but it works here.

[2020-06-26 03:18] sebastiangoldstein opened #37 "issues with Siri Suggestions of MyQ garage doors in CarPlay (wrong or outdated doors)"
Explain the issue occurring:
Hi, I'm a Noob at HOOBS so I understand very little of what I am doing, that said:
I switched over to this Plugin because I was having configuration issues with some of the others.
This issue is not unique to this MyQPlugin but maybe you can explain to me how to fix the problem.

I have two Garage doors hooked up to HomeKit via this plugin. In CarPlay when I am close t

[2020-06-26 15:09] bwoodruff commented on #32
Both. And the homebridge contributors seem uninterested in fixing their end of it. Instead they suggest that everyone should run a separate instance of homebridge for each plugin.

[2020-06-26 15:20] jianyu-li commented on #32
:(

[2020-06-26 15:46] MLADevelopmentTeam commented on #32
For me, after I changed the string in index.js, it just stops at Initializing platform accessory 'Liftmaster.  With debugging on you can see it polling every 5 seconds.  I'm running on a Mac, fwiw.

As an aside, there's this: "The plugin "homebridge-platform-myq" defines 'homebridge' and/or 'hap-nodejs' in their 'dependencies' section, meaning they carry an additional copy of homebridge and hap-no

[2020-06-26 15:49] endresjd commented on #32
On on a Mac, and with this change and with updating everything I could find, It shows Initializing in the logs and shows polling every 5 seconds, but the Home App still shows "No Response".  No error, just Initializing and forever Checking.

Plus there's this:
The plugin "homebridge-platform-myq" defines 'homebridge' and/or 'hap-nodejs' in their 'dependencies' section, meaning they carry an additi

[2020-06-26 15:53] sandeen commented on #32
While that's unfortunate, I think it does still indicate a bug in the error handling behavior in this myq plugin.  Hopefully somebody can evaluate my proposed change;  it's probably worth filing an issue against myq if the homebridge issue won't get any traction.

[2020-06-26 16:11] endresjd commented on #32
OK.  So it looks like that change makes things OK with Homebridge, but none of the home apps on my network are getting a response.  i.e., if you use the Homebridge-ui-x package and go to the accessories tab, then everything works normally there.  Maybe I'll have to remove and reset Homebridge for this.  Note that I decided to take the full file from the pull request and update to that since it had

[2020-06-26 16:17] DMBlakeley commented on #32
@sandeen, probably a good idea to log an issue against the homebridge-myQ plugin. I am not the owner of the plug-in but was planning on looking at your proposed solution. Agree an initialization error in this plug-in should not kill all the other plugins on startup.

[2020-06-26 16:24] DMBlakeley commented on #32
@endresjd, I have noticed some HomeKit response lag between different devices. It was particularly obvious with the homebridge-myQ issue but is much more consistent today.

I would not go nuclear but do a restart of Homebridge, your HomeKit bridge (HomePod, AppleTV, etc.) and your iOS devices first.

[2020-06-26 16:26] MLADevelopmentTeam commented on #32
Tiny Nuke.  Just have the garage door.  Everything else has HomeKit support.  Doing that got things working again!

--
John Endres
MLA | Sr Application Developer
Alliance Data Retail Services
3075 Loyalty Circle
Columbus, Ohio  43219
knowmoresellmore.com<http://www.knowmoresellmore.com/> | LinkedIn <https://www.linkedin.com/company/2973795?trk=tyah> | Facebook<https://www.facebook.com/KnowMoreSell

[2020-06-26 16:32] sandeen opened #38 "Some myq2 plugin errors seem to render all other homebridge accessories offline"
When an error like hjdhjd/homebridge-myq2/issues/32 happens, it seems to render all other homebridge plugins offline.  I still see updates in the homebridge log, but the native ios homekit app shows no updates for any accessories

[2020-06-26 16:33] sandeen commented on #38
Sorry no PR for now, but adding error handling like this seems to fix it for me - not sure if it's the right approach or not, or if maybe the whole loop should eventually shut down if certain fatal/permanent login errors are returned.

[code]

[2020-06-26 16:34] DMBlakeley commented on #37
How did you uninstall the previous app? Wonder if you have leftovers from the previous app. HomeKit and I assume CarPlay need unique names for each item.

If you are using config-ui-x you can go to Homebridge setting (3 dots, upper right) and there is an option "Remove Single Cached Accessory". Select this option and make sure that there are not any unrecognized accessories.

[2020-06-26 16:51] sandeen commented on #38
https://github.com/sandeen/homebridge-myq2/tree/fix-dead-homebridge

[2020-06-26 17:44] bipyc04 commented on #32
Changing to 19569 worked for me. This small issue took down all of my nest devices (they were not updating). All good now. Thx much!

[2020-06-26 19:28] rcoletti116 commented on #32
Thanks for identifying the fix @DMBlakeley. Worked for me as well.

[2020-06-27 00:07] fbernaly commented on #32
is anyone one posting a fix for this?

[2020-06-27 00:25] DMBlakeley commented on #32
I have submitted a PR for the change. Needs to be approved and released by @hjdhjd.

[2020-06-27 03:09] pponce commented on #31
I don't think it currently does because the API's that are used for the garage doors don't seem to expose the locks as devices to be controlled.
i'd love to see support for them if the API's calls used for the bolts can be reverse engineered.

[2020-06-27 03:30] shamoon commented on #38
Cheers was thinking of writing this up too. I’m not sure you need to remove the accessory or not. But I’m pretty sure the important part is to call the `callback` as you did. (I’m not testing just looking at your code)

See https://github.com/homebridge/homebridge/issues/948

[2020-06-27 03:42] sandeen commented on #38
Ah, that makes more sense, reading the other issue, thanks.

Not sure why I was removing the accessory tbh ;)

[2020-06-27 13:13] gh0sti opened #39 "Need API v5"
MyQ updated their api request and api v4 is no longer working.

[2020-06-27 14:02] DMBlakeley commented on #39
This plugin seems to be taking a bit different approach to logging into MyQ using the path "https://myqexternal.myqdevice.com/" and a different Application ID than that used by the "Homebridge Chamberlin" plugin.

The api version in the header is "v5.1" so believe that . If I change the https calls to "v5" rather than "v4" the plug-in fails and the Garage Door is removed from Homebridge. I would s

[2020-06-27 14:27] DMBlakeley commented on #38
As a test I added just the `callback(error);` line to my archive. I then changed `myQ/19569` back to `myQ/14041` and restarted Homebridge. The Garage Door shows as no response in Homebridge and other devices are not blocked. The error log repeatibly shows:

`[6/27/2020, 10:10:07 AM] [Garage Door] Login error: FetchError: invalid json response body at https://myqexternal.myqdevice.com/api/v4/User/V

[2020-06-27 14:50] shamoon commented on #38
@sandeen I submitted an update to your fork and then you can create a PR here, that way you get credit for your work =)

[2020-06-27 15:36] sandeen commented on #38
Cool, thank you both.

If you're bored, want to take a look at my battery status PR? :) pull/26

[2020-06-27 16:32] jonlehtinen commented on #39
[6/27/2020, 12:27:38 PM] [MyQ2] Login error: FetchError: invalid json response body at https://myqexternal.myqdevice.com/api/v4/User/Validate reason: Unexpected number in JSON at position 114
[6/27/2020, 12:28:18 PM] [MyQ2] Login error: FetchError: invalid json response body at https://myqexternal.myqdevice.com/api/v4/User/Validate reason: Unexpected number in JSON at position 114
[6/27/2020, 12:2

[2020-06-27 16:47] pponce commented on #39
I'm seeing the same issue and impact to other accessories.

[2020-06-27 17:06] DMBlakeley commented on #39
This is not a v5 issue, see issue #32 where I have posted a fix for this error which also impacts other accessories. Have submitted PR but @hjdhjd has not responded as of yet.

[2020-06-27 17:22] pponce commented on #39
thanks!
Just updated and all is good again.
npm install -g DMBlakeley/homebridge-myq2

[2020-06-27 17:25] jonlehtinen commented on #39
Thank you @DMBlakeley, that did the trick.

[2020-06-27 17:28] DMBlakeley commented on #39
Glad this worked. There are a couple of other updates in this archive. Please let me know if you run into any other issues.

[2020-06-27 17:39] whreams commented on #39
Just tried this also.  Works here on dedicated Mac-mini. Thanks!

[2020-06-27 17:56] shamoon commented on #38
I submitted PR #41 for this, it delays login attempts by progressively longer to avoid hammering MyQ servers. This plugin is in need of some more serious reworking but for now this should work assuming #40 gets merged.

[2020-06-27 23:23] pponce commented on #38
@sandeen I merged your battery status PR into my fork, long with a few other of the PR's in the queue right now.
Where in the home app should i see the battery status?

[2020-06-28 00:24] sandeen commented on #38
@pponce Er, let me look, I'm afraid I did some last minute "trivial" variable renaming and maybe I broke it.... *sigh* yes.

To fix it, change the one instance of `currentBattery` to `batteryStatus`

Then I think you won't see anything unless the state is low, so you could manually set

`newBattery = Characteristic.StatusLowBattery.BATTERY_LEVEL_LOW;`

outside of the if/else code.  I guess I shoul

[2020-06-28 02:03] smartwatermelon commented on #32
Thanks @DMBlakeley your `UA_ID` change got my openers (and by extension all of Homebridge) up and running again.

[2020-06-28 02:10] hjdhjd commented on #39
I'm going to review this over the weekend as well as the PRs. I've also been looking at v5 support and started refactoring the plugin to support it.

[2020-06-28 02:38] hjdhjd commented on #38
Fixes are in. Update away folks. Thanks!

[2020-06-28 02:38] #38 closed

[2020-06-28 02:41] hjdhjd commented on #31
While I wish it did...the MyQ API is unpublished and has had to be reverse-engineered. Worse, MyQ gets updated regularly with breaking changes that drive all plugins like this nutty trying to keep up. We all wish they would publish a proper API that we can all use and get on with it. All that said...I don't believe anyone's reverse engineered this sufficiently. It may, or may not work. It really d

[2020-06-28 02:41] hjdhjd commented on #34
Fixed in the latest update.

[2020-06-28 02:41] #34 closed

[2020-06-28 02:42] #29 closed

[2020-06-28 02:42] hjdhjd commented on #32
Fixed. Update away to the latest.

[2020-06-28 02:42] #32 closed

[2020-06-28 02:43] hjdhjd commented on #25
Fixed. Update away.

[2020-06-28 02:43] #25 closed

[2020-06-28 02:43] #39 closed

[2020-06-28 03:34] SafariKC commented on #25
I’m pretty sure that Config UI X is still not doing the right thing.  But I’ve manually updated my Config to get around it it’s not a big deal but others could find it a stumbling block.

[2020-06-28 03:41] hjdhjd commented on #25
@SafariKC Can you elaborate on what's going on? Is the first issue still what's occurring? Let me know and I'll take a look.

[2020-06-28 03:48] pponce commented on #31
Thanks for your work on this plugin.
I own 2 lockitron bolts and have each connected to a myq hub.  When looking at the devices returned using
http://api.myqdevice.com/api/v5.1/Accounts/{{AccountID}}/Devices
I don't see the locks returned as devices to be controlled.
So the app must be using a separate api to control the locks,

[2020-06-28 04:28] pponce commented on #38
@sandeen No apology needed. Just wanted to make sure i was not missing anything.
Thanks for adding this battery check!

[2020-06-28 13:52] subasically opened #42 "Checking "Garage Door" - Device ID: 13367722 (Gateway: "undefined" - Gateway ID: 13367723)"
Not sure what this error means but my garage door opens and closes using Homebridge.
I have turned on verbose debugging.

[2020-06-28 13:57] SafariKC commented on #25
Quotes are still showing up around the array.  Enter some data following the sample data and hit save you’ll see

[2020-06-28 14:43] #42 closed

[2020-06-28 15:37] hjdhjd commented on #25
Update coming shortly.

[2020-06-28 16:18] hjdhjd commented on #25
New update out...I refactored the UI. Should address this moving forward. Thanks for bringing it to my attention.

[2020-06-28 16:22] hjdhjd commented on #31
Yep...unfortunately, that makes it difficult to address for now.

[2020-06-28 16:22] #31 closed

[2020-06-28 16:22] #23 closed

[2020-06-28 16:49] SafariKC commented on #25
Looks good now! Much better!

[2020-06-28 21:38] SafariKC commented on #25
Actually it's not... gateways is still wrapping the array in ""

[2020-06-28 21:40] hjdhjd commented on #25
Please share screenshots and your config.json. Before doing so, you may want to try a clean config and ensure you're on the latest, etc.

[2020-06-28 21:49] SafariKC commented on #25
I have tried a clean config each time.  And I've uninstalled and re-installed the Plugin.

The Array Objects are being saved as Strings and not Numbers which your plugin requires.

Here's screenshots of the bad behavior and the entry of info in the plugin... the fix is to remove the ""'s.
<img width="775" alt="Screen Shot 2020-06-28 at 5 45 35 PM" src="https://user-images.githubusercontent.com/208

[2020-06-28 21:59] hjdhjd commented on #25
Alrighty. Try the update I just pushed. Let's hope we can put this one to bed and move on to greener pastures...

[2020-06-28 22:51] maelstromchanneled commented on #38
I just logged in a saw this issue is closed and verified it on my home setup.  I just want to say a BIG thank you to this awesome community for all that you do to make homebridge and homebridge platforms and accessories a viable solution!  Thank you!

[2020-06-29 02:53] SafariKC commented on #25
Yup were good now thanks!

[2020-06-30 14:22] whreams commented on #23
Is it normal to see the below?  The timestamps are different and I only have one plugin, one instance and one door...

![image](https://user-images.githubusercontent.com/64332758/86137611-17d57980-bab3-11ea-9c1c-230bf47bc094.png)

[2020-06-30 14:23] whreams opened #43 "Is it normal to see the below? The timestamps are different and I only have one plugin, one instance and one door..."
Is it normal to see the below?  The timestamps are different and I only have one plugin, one instance and one door...

![image](https://user-images.githubusercontent.com/64332758/86137611-17d57980-bab3-11ea-9c1c-230bf47bc094.png)

_Originally posted by @whreams in https://github.com/hjdhjd/homebridge-myq2/issues/23#issuecomment-651824679_

[2020-06-30 14:44] DMBlakeley commented on #43
I have noticed that you get logging each time the Garage Door tile is displayed in HomeKit so I would say normal. Must trigger a poll of the garage door status.

[2020-07-01 17:35] RCdiy opened #44 "Error getting MyQ devices: undefined"
Was working yesterday.

[7/1/2020, 13:33:20] [MyQ2] Error getting MyQ devices: undefined
[7/1/2020, 13:33:36] [MyQ2] Error getting MyQ devices: undefined
[7/1/2020, 13:33:44] [Config] Starting terminal session

[2020-07-01 18:06] 33racerx commented on #44
[7/1/2020, 11:04:54 AM] [MyQ] Error getting MyQ devices: Unauthorized (216)

Similar message, just started getting this today.

[2020-07-01 18:07] cryptobrian commented on #44
Same here.  I also tried using the chamberlain plugin, and it is also not working.
Looks like Chamberlain changed something on their side again.

MyQ2 plugin error:
Error getting MyQ devices: undefined

Chamberlain plugin error:
Error: invalid response, got HTTP 401: {"code":"401.203","message":"Unauthorized","description":"The username or password you entered is incorrect. Try again."}

[2020-07-01 18:09] RyanRadly commented on #44
I'm getting the same message @33racerx is getting, verbatim.

[2020-07-01 18:16] armandr commented on #44
Same here:

`[MyQ2] Error getting MyQ devices: undefined
 [MyQ2] Error getting MyQ devices: Unauthorized (216)`

Running the latest version.  It was working yesterday.

[2020-07-01 18:30] whreams commented on #44
Same here.  I’m sure the HB developer team is on it!  Thanks guys!!!

[2020-07-01 19:03] av8ndad opened #45 "Error getting MyQ devices: Unauthorized (216)"
Just starting getting this error today:

Error getting MyQ devices: Unauthorized (216)

[2020-07-01 19:28] kbrashears5 commented on #45
well whatever you do, don't restart your homebridge instance like I just did - it will remove the device from homekit along with any automations

[2020-07-01 19:28] kydav commented on #44
I'm having the same issue, but it could be an issue with Chamberlain.  I am able to get in through the app, but if I try the same login on their site, it says it is incorrect.

[2020-07-01 19:37] jiggad369 commented on #45
getting the same issue.

[2020-07-01 19:46] LordZork commented on #44
I'm having the same issue as others here... probably everyone...

@kydav This may be a dumb question, but what site did you try logging into – chamberlain.com?  That's the only site I'm aware of (since you can't log into their myQ site), and I had the same experience ("Your username or password was incorrect").  I tried the "Forgot your password?" option (even though I know my password and know it

[2020-07-01 19:52] kydav commented on #44
@LordZork I tried the same things, still no password reset email and it's been several hours.  I logged in here: https://www.chamberlain.com/login

[2020-07-01 19:52] LordZork commented on #45
Same issue...

@kbrashears5 I wish I would have checked here first, before restarting Homebridge (doing so removed the device from HomeKit/Home-app for me too)... *sigh*...

Btw, as someone pointed out in the other (same) issue posted, I am also unable to log into chamberlain.com – it says the username/password I entered was/is incorrect (even know that's not true).

Chamberlain is most likely the

[2020-07-01 21:21] LordZork commented on #44
Note regarding website login issues...

Working (_successful_ login and password-reset):
https://www.mychamberlain.com/
https://www.myliftmaster.com/

Not working (_unsuccessful_ login and password-reset):
https://www.chamberlain.com/

The plugin has been broken twice in less than a month.  I am nervous that myQ is actually making efforts to thwart Homebridge support, since they can't profit from

[2020-07-01 22:07] Technodad commented on #45
+1 on this problem. I am however able to log in to the MyQ app. I did restart Homebridge; the device appears to still be there.

Also getting `Error getting MyQ devices: undefined` - this is more frequent than the `Unauthorized` message, though I suspect these are related.

[2020-07-01 22:33] nvdokh opened #46 "Starting 7/1/2020 the garage door gives "No Response""
It looks like there has been a change in myQ API preventing the homebridge module from working.

[2020-07-01 22:39] Vermyndax commented on #45
I am getting the same problems as the others. I have a sneaky suspicion about this, since it works fine in the MyQ app and they sell a $70 bridge for HomeKit compatibility (MYQ-G0303-SP). I removed and reloaded the plugin and that was a death knell. The doors are now gone from my HomeBridge and I can't get them back, since I can't get it to authenticate with MyQ.

[2020-07-02 00:58] a-dows commented on #46
Seconded. I'm getting:

[7/1/2020, 20:57:27] [MyQ2] Error getting MyQ devices: Unauthorized (216)
[7/1/2020, 20:57:33] [MyQ2] Error getting MyQ devices: undefined

repeatedly. Verified that the MyQ app has continued to work.

[2020-07-02 01:05] Silmar-99 commented on #46
Sounds like #44, $45, #46 are related and the same issue...

[2020-07-02 01:12] DMBlakeley commented on #44
myQ updated the iOS app to version 5.158 on June 29. How do you find out the build number for this version?

[2020-07-02 01:22] DMBlakeley commented on #44
Found the build number, it is at the bottom of the myQ app Account page. Current build is 19859. Unfortunately, this change does not fix the issue.

[2020-07-02 03:01] TheEngineerGuy commented on #44
Hey @DMBlakeley Any speculation on this one?

I am beginning to agree with @LordZork , this is starting look malicious. Their own HB product was so bad I gave it away, and now they are perpetually in a broken state for HB plugin. Doesn't seem very promising.

[2020-07-02 03:57] LordZork commented on #45
@Vermyndax lol, I've had the same sneaky suspicion (https://github.com/hjdhjd/homebridge-myq2/issues/44#issuecomment-652652746).  Hopefully we are wrong, but based on how terrible they are with third-party support and partnerships, etc., it makes you wonder.

[2020-07-02 04:14] Danimal4326 commented on #44
Did some digging, looks like they aren't letting the login go through, so there is no token passed:

'''
{
  SecurityToken: '',
  ReturnCode: '0',
  ErrorMessage: 'please contact customer care, supportID: 712915074050492145',
  CorrelationId: ''
}';
'''

[2020-07-02 04:31] TheEngineerGuy commented on #44
So two possibilities that I can think of:

1. They did it only to the URL that we are using. Which can be fixed by using other URLs like connect.mydevice.com.

2. They cut off 4.1 calls off as part of their deprecation measures. Assuming that you made 4.1 call to get that response.

[2020-07-02 04:50] pponce commented on #44
I was able to authenticate/login with v5.1 api call.
Also able to pull list of devices with v5.1 api call.
Your hunch about deprecating v4 is probably right.

[2020-07-02 04:57] Danimal4326 commented on #44
This is from the plugin (just added some extra logging)

@pponce how did you do the v5.1 api call?

[2020-07-02 05:11] shamoon commented on #44
Yes @pponce if you can provide URL/headers for v5 call would be helpful to start seeing what else needs updating.

[2020-07-02 05:26] pponce commented on #44
here are the two api calls i was able to make.

myq login
https://api.myqdevice.com/api/v5/Login

headers:
Content-Type:application/json
User-Agent:myQ/19569 CFNetwork/1107.1 Darwin/19.0.0
MyQApplicationId:JVM/G9Nwih5BwKgNCjLxiFUQxQijAebyyg8QUHr7JOrP+tuPb8iHfRHKwTmDzHOu
ApiVersion:5.1

get devices and status
http://api.myqdevice.com/api/v5.1/Accounts/{{AccountID}}/Devices

headers:
Content-Type:ap

[2020-07-02 05:34] shamoon commented on #44
https://api.myqdevice.com/api/v5/My
headers: {{security-token}}

I'll see if I can get things back on track...

[2020-07-02 06:02] TheEngineerGuy commented on #44
Ok good. So we know what the problem is. Let’s get going on the api v5. Easy for me to say. But looks like that is the only way forward.

[2020-07-02 07:25] shamoon commented on #44
I have not extensively tested this (its the middle of the night! 🤪 ) but I have updated the current plugin to work with v5 API, see PR #47. We'll need @hjdhjd to merge when he's available.

[2020-07-02 07:29] hjdhjd commented on #44
I appreciate the time you took to take this on, but I won't be merging this. I'm in the midst of refactoring this plugin and I'll be publishing something in the next day or two. Bear with me guys, it's a huge update and I want to ensure it's working well before I publish it.

[2020-07-02 07:32] hjdhjd commented on #44
For those experiencing errors: myQ deprecated most non-v5 APIs on July 1. It's not a coincidence. :smile: Just a few hours more I hope and I'll have an update here. I have this working well on my own development tree.

[2020-07-02 08:32] LordZork commented on #44
@hjdhjd Thanks for chiming in and letting us know, and for your efforts in updating your plugin.  I'm sure I speak for many when I say, the plugin and the work that goes into it is very much appreciated!!  Thank you!!

[2020-07-02 14:55] TheEngineerGuy commented on #44
All good @hjdhjd . Take your time, we can wait for it to be done right.

[2020-07-02 15:38] DMBlakeley commented on #44
@hjdhjd, thanks for your efforts! I am sure that if you were looking for a limited test group there would be a couple of regulars that would be happy to volunteer.

[2020-07-02 15:39] hjdhjd commented on #44
Thanks all. I'll be posting something later today. Hopefully it all goes off without a hitch. :smile:

[2020-07-02 16:06] DMBlakeley commented on #44
One suggestion I might make is to add the build number as a config parameter as this seems to be the most frequent breaking change.

[2020-07-02 16:50] zirdum commented on #45
This issue occurs every API change FYI... The last change from API 3 to API 4 I believe occurred around October of 2019. So expect this to happen again in 8-12 months time.

[2020-07-02 18:20] Gilmargolin commented on #44
I am getting this error:
[MyQ2] Error: Couldn't find a MyQ door device.

[2020-07-02 18:31] TheEngineerGuy commented on #44
Sorry, I fail to see how your issue is related to this thread. Check for another thread which is more relevant, if not please create a new thread.

[2020-07-02 18:46] Gilmargolin commented on #44
I updated to the v5-api branch and I am now getting a new error, all was working fine two days ago.

[2020-07-02 18:54] shamoon commented on #44
@Gilmargolin the repo owner has said he won’t be merging that branch in because he has been working on a larger revamp of the plugin which presumably includes the v5 API. As such, unless we hear otherwise, it’s probably not worth tracking down that error since he said he would be publishing his update today.

[2020-07-02 20:33] joeria100 commented on #44
Thanks hjdhjd.  Appreciate your work on this and really appreciate the functionality!

[2020-07-02 21:40] jiniej commented on #44
I would like to second joeria100, thanks hjdhjd!

[2020-07-03 00:16] hjdhjd commented on #44
Thanks all. Just a quick update...making good progress and hoping to get this released today or tomorrow. Real life interferes at times. :)

Oh...and getting repeatedly locked out of myQ servers for polling too much. Seems that they've at least improved the auto banning they use to falloff after 10-15 minutes. But...you can imagine when you hit it, having to wait feels like an eternity.

[2020-07-03 01:03] bwoodruff commented on #44
Thank you for the update @hjdhjd. Would it be possible along with these changes to make it such that API changes don't cause the accessory to be removed from HomeKit (causing automations to break)? This behavior is better than the previous behavior of breaking all HomeBridge accessories, I suppose, but I'd think the ideal outcome would be for _just_ the garage door accessories added by myq2 to go

[2020-07-03 01:04] christianguitarfreak commented on #44
Thanks @hjdhjd for your work on this! I really appreciate it.

[2020-07-03 01:06] hjdhjd commented on #44
@bwoodruff I have the hardware device too and specifically use this plugin because it's such an unreliable device. In a separate thread we can commiserate on the badness of the hardware bridge. On the plus side...I've inadvertently discovered how to make it more stable when doing some other network upgrades over the past few weeks.

As to the ask on automations...I have the same issue and it's som

[2020-07-03 02:02] shamoon commented on #44
Obviously appreciate your work and if you prefer to wait for your update to be ready thats your call. But I will say there are two PRs currently pending which address both the lockout (PR #41) and v5 API (PR #47). Obviously those might bring their own bugs so again, I get it if not, but just sayin if you think you need more time...

[2020-07-03 05:01] bkalai321 opened #48 "after 7/1 I get Error getting MyQ devices: undefined"
MyQ2 worked until 7/1 now I get Error getting MyQ devices: undefined

[2020-07-03 05:32] gizmotronic commented on #48
Duplicate of #44

[2020-07-03 14:40] seanxushen commented on #44
@hjdhjd Any update when you will post fixed plugin ?

[2020-07-04 01:41] hjdhjd commented on #48
Update to the latest and it should leverage the v5 API. Thanks.

[2020-07-04 01:41] #48 closed

[2020-07-04 01:42] hjdhjd commented on #46
Update to v2.0. Thanks!

[2020-07-04 01:42] #46 closed

[2020-07-04 01:43] hjdhjd commented on #45
Alright all, v2.0 of the plugin is out. Hopefully all goes well. :smile:

[2020-07-04 01:43] #45 closed

[2020-07-04 01:43] hjdhjd commented on #44
Alright all, v2.0 of the plugin is out. Hopefully all goes well. :smile:

[2020-07-04 01:44] hjdhjd commented on #43
It does and it is. Closing...:smile:

[2020-07-04 01:44] #43 closed

[2020-07-04 01:45] cryptobrian commented on #44
Wow! You’re awesome.  Thanks so much! Upgrading now!

[2020-07-04 01:45] hjdhjd commented on #44
All, given how long this thread is now, I'm going to close out this issue and ask that you guys beat on v2.0 and open new issues for anything you uncover.

Thanks!

[2020-07-04 01:45] #44 closed

[2020-07-04 02:04] TheEngineerGuy opened #49 "No Accessories showing up in v2.0.0"
Used following config:

"platforms": [{
    "platform": "myQ",
    "email": "email@email.com",
    "password": "password"
}]

But no myQ accessories are being discovered or shown in home app.

Reset homebridge persist and accessories, still no go.

EDIT: started HB in insecure mode to see if any accessories show in the web interface, and no myQ accessories show up there either.

[2020-07-04 02:06] DNSGeek opened #50 "[7/3/2020, 19:04:40] Error: The requested platform 'MyQ2' was not registered by any plugin."
After the v2 update, I just keep getting this in my logs, and homebridge will not start.
[code]

[2020-07-04 02:08] donavanbecker commented on #50
You have to change your config to myQ from MyQ2

[2020-07-04 02:09] TheEngineerGuy commented on #49
@hjdhjd Any ideas bud?

[2020-07-04 02:09] DNSGeek commented on #50
It already is MyQ2
            "platform": "MyQ2"

[2020-07-04 02:09] cryptobrian opened #51 "myQ API error while logging in: 404 Not Found"
No garage door is showing up.

I'm getting this in the homebridge logs.
[7/4/2020, 2:06:48 AM] [myQ] Successfully connected to the myQ API.
[7/4/2020, 2:06:48 AM] [myQ] myQ API error while logging in: 404 Not Found
[7/4/2020, 2:07:03 AM] [myQ] myQ API error while logging in: 404 Not Found

This is the config i am using:
{
            "platform": "myQ",
            "email": "XXXXXXX@gmail.com",

[2020-07-04 02:10] DNSGeek commented on #50
Ok, that worked. Maybe have the error message state that so people don't have to bug you?

Thanks for the update!

[2020-07-04 02:11] #50 closed

[2020-07-04 02:11] hjdhjd commented on #49
Read the README. :smile:

It may take up to 45 minutes or so to connect to the MyQ API. It keeps retrying every 15-20 seconds until the servers let us connect.

You'll see a message in the homebridge log when it does connect:

[code]
Walk away and check in a bit later...it's not ideal, but it should work.

Let me know.

[2020-07-04 02:11] DNSGeek commented on #51
Yes, I'm getting this too.

[2020-07-04 02:13] TheEngineerGuy commented on #49
I saw that note, but a bit baffled as to why :).

[2020-07-04 02:15] hjdhjd commented on #51
I'm just impressed someone's trying this at 2AM somewhere. :smile:

Waiting a few minutes and then restarting homebridge. The v5 API is incredibly flakey unfortunately. Once it does connect, and it will over the course of a bit of time (see the README), it should be fine.

[2020-07-04 02:16] hjdhjd commented on #49
Well, now you know. :smile:

[2020-07-04 02:18] TheEngineerGuy commented on #49
LOL! No I don't know. Is it random, or is there something funky going on to discover the accessories? I have my accessory index if that is what it is looking for.

[2020-07-04 02:19] dxdc commented on #49
@hjdhjd does this happen on every hb re-start or just the initial configuration?

[2020-07-04 02:19] hjdhjd commented on #49
It's the MyQ API servers. They will randomly lockup and not issue login credentials.

[2020-07-04 02:20] TheEngineerGuy commented on #51
Same, now I am getting this error as well.
 Logged in but 404.

[2020-07-04 02:21] hjdhjd commented on #49
@dxdc Every restart. It's the API unfortunately. On the plus side, this wasn't happening a couple of days ago.

My suspicion is that when they shutdown all the legacy APIs, they didn't ramp up their server capacity enough and they're struggling to catch up. Again - a guess on my part, but I had zero login issues prior to 7/1 on v5 while I've been refactoring this plugin for a couple of weeks now.

[2020-07-04 02:22] DNSGeek commented on #51
I restarted the home bridge and I'm not getting the 404 any more, but I also do not have a garage door in my HomeKit anymore either. The only message I get from myQ is
[code]
I don't know what it's doing. I'm not getting any 404's but I have no accessories either.

[2020-07-04 02:24] TheEngineerGuy commented on #49
O I see, so before July 7th, this was working fine. WTF!! LOL!! I wonder if this is causing problems for MyQHB as well. I gave mine away as it was horrible. This plugin was better than it.

[2020-07-04 02:24] hjdhjd commented on #51
The proverbial "it" is trying to login to the MyQ API to get security credentials, and the API seems to be overwhelmed with the switchover that occurred around 7/1, and my guess is that they're trying to ramp up capacity to catch up.

Either that, or the v5 API is just plain flakey.

I say the former because this API was working quite reliably before 7/1. I've been using it for a couple of weeks.

[2020-07-04 02:25] hjdhjd commented on #49
I have both. The hardware HB is incredibly flakey on WiFi for sure, but I seem to have wrangled that over the past few weeks too, almost by accident. That's another story for another day.

[2020-07-04 02:25] dxdc opened #53 "Closing door while it is opening causes unexpected behavior"
This is a legacy issue from liftmaster2, thanks for reviving this project @hjdhjd!

Essentially, if you do the following:
- Click 'Open' to open door on homekit
- While door is opening, click 'Close'

It causes strange behavior. The door ends up thinking its closed (when it's open) and I'm not sure if an additional API call is sent. I'm not sure the best way to deal with this, but at the very leas

[2020-07-04 02:27] TheEngineerGuy commented on #49
Ofcourse you did! There is a factory reset on it, if it is still physically in one piece. That is a big if! :)

[2020-07-04 02:28] dxdc commented on #49
Amazon Key integrates with myQ. Do you know if that works more reliably? There is no hb-amazonkey project yet... (that I've found)... but could be another approach. One would think that the Amazon<-->myQ connection should be very robust. Crazy to hear that myQ's own HK device isn't working well either!

[2020-07-04 02:29] TheEngineerGuy commented on #51
Just wondering, is api v5 available on external.myqdevice.com or connect.myqdevice.com?

[2020-07-04 02:31] hjdhjd commented on #53
@dxdc - let's park this one for later. I want to ensure everything else is working first. Thanks for reporting it!

And reviving...this plugin's been going for a few years! :smile: Just a function of time mostly.

[2020-07-04 02:33] dxdc commented on #49
Also, what about "hard coding" the devices, e.g.
`Adding new myQ garagedoor device: Garage Door Opener - CGXXXXXXXXXXX`

Could we just store `CGXXXX` as a config parameter to speed things up for future restarts?

[2020-07-04 02:34] dxdc commented on #53
appreciate it @hjdhjd ! Didn't know this plugin existed until today and all of the recent problems, have been limping along w/ liftmaster2 for some time now =)

[2020-07-04 02:35] hjdhjd commented on #49
The issue is the API, not the accessories. The accessories themselves are cached, and you'll see them "right away" on subsequent restarts, although they will appear unreachable until they can talk to the API.

[2020-07-04 02:38] hjdhjd commented on #53
@dxdc No worries. Can you also confirm that the above issue is an issue you see on 2.0? It should update the door state every 15-20 seconds or so. If you can recreate the problem on 2.0, with a timeline, I'll take a look next week.

What should happen in 2.0...you may be able to fool HomeKit temporarily, but the next time we poll for status from myQ, it should update the state of the door.

[2020-07-04 02:47] boomboxtycoon opened #54 "Not registered plugin?"
Since update to 2.0 I’m getting a crash, see below. Should I uninstall/ reinstall? Takes out homebridge too; Thanks for the help
[37m[7/4/2020, 2:19:29 AM] [39m[31mError: The requested platform 'MyQ2' was not registered by any plugin.[39m
[31m    at PluginManager.getPluginForPlatform (/usr/local/lib/node_modules/homebridge/src/pluginManager.ts:224:15)[39m
[31m    at /usr/local/lib/node_modu

[2020-07-04 02:48] zirdum commented on #54
I'm getting this as well:
Error loading platform requested in your config.json at position 5
[7/3/2020, 7:46:46 PM] Error: The requested platform 'MyQ2' was not registered by any plugin.
    at PluginManager.getPluginForPlatform (/usr/local/lib/node_modules/homebridge/src/pluginManager.ts:224:15)
    at /usr/local/lib/node_modules/homebridge/src/server.ts:387:37
    at Array.forEach (<anonymous>)

[2020-07-04 02:51] zirdum commented on #54
I figured it out...

The config is changed.... and it's case sensitive. Use "platform": "myQ" in your config file.

[2020-07-04 02:57] dxdc commented on #53
So, the door state *does* get updated in 2.0 as you point out, but the icon in HK is wrong. The icon says "Closing...". I was able to manually close it in spite of this, however. HK has funny problems with icons depending on how the setting is updated. I had some problems with it in another plugin.

[code]

For reference, I had to do this to get the icon to work properly:

[code]

[2020-07-04 03:02] gh0sti commented on #54
after changing the config to myQ I was getting a 404 error for the plugin logging in. This update really screwed up my garage door showing up in homekit

[2020-07-04 03:08] cuellarfr commented on #54
I changed the platform name to myQ, but after that I got the 404 error too. I can provide logs if that helps.

[2020-07-04 03:09] TheEngineerGuy commented on #51
Ok. 1 hour in, was anyone able to get accessories up?

[2020-07-04 03:09] hjdhjd commented on #53
@dxdc Thanks...I'll file this away to mess around with at some point.

The Home app is incredibly finicky...a force-quit usually does the job without having to go to manual extremes...or using a different HomeKit controller app. Neither option is great, so fixing it more elegantly is always preferred.

Thanks!

[2020-07-04 03:11] jehrler commented on #49
What confuses me is that after adjusting the platform name and restarting...and waiting, the log says

[GarageDoor] Successfully connected to the myQ API.
[7/3/2020, 9:59:25 PM] [GarageDoor] myQ gateway device discovered: XXXX
[7/3/2020, 9:59:25 PM] [GarageDoor] myQ garagedoor device discovered: XXXX

but no garage door showing up in accessories.

Sent from iPhone

[2020-07-04 03:11] DNSGeek commented on #51
No. I just started getting 404s again. As per @hjdhjd's guidance, I'll leave it overnight and see if things are better tomorrow.

[2020-07-04 03:13] dxdc commented on #53
Yeah... I found that force-quit isn't needed with the settings I mentioned, but many developers (even native ones) don't do that, so the force quit is required for those...

I think it's a lack of documentation and clarity from Apple. The PositionState is supposed to be dynamic (e.g., set based on the delta between current position and target position), but in practice -- if there is some kind of

[2020-07-04 03:14] jlg89 commented on #54
7/3/2020, 10:10:11 PM The requested platform "myQ" was not registered by any plugin.
7/3/2020, 10:10:11 PM Your config.json is requesting the platform "myQ" which has not been published by any installed plugins.

From the "platforms" section of config.json:

        {
            "platform": "myQ",
            "plugin_map": {
                "plugin_name": "homebridge-myq2"
            },

[2020-07-04 03:16] hjdhjd commented on #53
And blinds...since it seems we both have written blinds plugins. :smile:

[2020-07-04 03:17] hjdhjd commented on #54
I give up on asking people to read READMEs. :smile:

[2020-07-04 03:17] #54 closed

[2020-07-04 03:17] dxdc commented on #53
saw that! what do you think about a simple PR to allow for command-line scripts vs. urls? have added a lot of features since you first forked it.

[2020-07-04 03:18] hjdhjd commented on #51
@DNSGeek you may want to restart homebridge, just for good measure and go to bed...:smile:

I've gotten reports from others that're up and running. So there's that...

[2020-07-04 03:25] hjdhjd commented on #49
@jehrler The accessories are there. If you're seeing the above, then the accessories are in HomeKit. Go look for them...perhaps in the default room.

[2020-07-04 03:25] jlg89 commented on #54
Where is this in the README? I followed the "Configuration" instructions, but I get the same exact error. When I remove the "plugin-map" bit, it automatically gets reinserted into the config.json outside of the platform statement, and still doesn't work:

        {
            "platform": "myQ",
            "email": "****",
            "password": "****"
        },
        {
            "plugin_ma

[2020-07-04 03:29] hjdhjd commented on #53
Was it your project I forked? It's been so long...

I'm all for it. Sadly in my home, it's all Somfy controlled, so I need to be able to communicate with a URTSI transmitter to send the signals. It's a more intricate setup than if Somfy would've just had reasonable support for HomeKit and others.

Sigh.

[2020-07-04 03:36] shamoon opened #55 "v2.0.0 npm release doesnt contain Config UI X schema"
config.schema.json is missing, probably an error in the script youre using to generate npm packages. Also I dont see releases here on GH.
[code]

[2020-07-04 03:37] dxdc commented on #53
I've been running the project about 1 year or so, the original developer zwerch said he didn't have time (or interest) to manage it anymore. It's very robust now.

Bookmarked this for now then: https://github.com/dxdc/homebridge-blinds/issues/45

Are your Somfy blinds Rf controlled? If so, this product works beautifully: https://www.bondhome.io/product/bond-bridge/
Believe they have native Somfy s

[2020-07-04 03:48] hjdhjd commented on #53
I'll take a look at Bond at some point. My concern in most of these bridge-type devices is longevity. When these guys get bought or go out of business, then what? It's unfortunately inevitable so I've tended to stay away from them and, in my old age, I focus on things that I know will be there for the long haul.

So what I use right now is a combination of a couple of these (large area to cover):

[2020-07-04 03:50] hjdhjd commented on #54
@jlg89 See "What's new in 2.0" Second paragraph. :smile: Thanks for catching the additional typo though. But it **is** in the README.

[2020-07-04 03:51] hjdhjd commented on #54
@jlg89 https://github.com/hjdhjd/homebridge-myq2/blob/master/README.md#things-to-be-aware-of

[2020-07-04 03:55] dxdc commented on #53
Bond can be run on a completely local API. Doesn't require cloud access, except for firmware updates and/or synchronizing with their app if you want.

See: http://docs-local.appbond.com/

It's fantastic and I've interacted with their dev team a lot over the past year. A terrific product. You can also use it to automate lighting with Rf-controlled sockets and such, ceiling fans, air conditioners, y

[2020-07-04 04:06] TheEngineerGuy commented on #51
@hjdhjd Looking at chamberlain plugin, they don't seem to have these issues with v5. Could we check with them to see how their auth is going so smoothly?

[2020-07-04 04:07] hjdhjd commented on #53
I just refactored this whole plugin to TS...it's part of what took me a bit. After you get over a bit of the learning curve around types and casting, its' straightforward. I'm becoming (but not quite there yet!) a fan.

[2020-07-04 04:11] hjdhjd commented on #51
@TheEngineerGuy I'll take a look later this weekend. To be clear...I really don't view this as a problem as much as it is an inconvenience until we login. The API's been solid outside of logging in and until the last couple of days, I've had no issues at all logging in.

Yeah...it's super annoying to wait (imagine trying to develop and debug like this!) for the API to let us login, but once it doe

[2020-07-04 04:11] hjdhjd commented on #51
For what it's worth, I average on taking 5-10 minutes to get logged in, though it's gone the better part of an hour before.

[2020-07-04 04:14] TheEngineerGuy commented on #51
I think if it would happen only for the first time, I wouldn't care as much, but on every restart might be bit of a problem as this would create a long delay every time we update UI, HB or kernel, which does tend to happen once every week or so.

Well take a look when you have a chance, might just help us.

[2020-07-04 04:32] hjdhjd commented on #51
I think I found it. Sneaky bugger. @TheEngineerGuy going to post an update shortly.

[2020-07-04 04:33] TheEngineerGuy commented on #51
kk. I am tuned homeboy. What was it?

[2020-07-04 04:39] hjdhjd commented on #51
@TheEngineerGuy update to 5.0.1 and give it a try.

[2020-07-04 04:39] TheEngineerGuy commented on #51
Just clicked it.

[2020-07-04 04:41] TheEngineerGuy commented on #51
Ok this time the connection was immediate. But still 404.

[2020-07-04 04:41] DNSGeek commented on #51
Updated to 5.0.1. Still getting 404's. Looking at the logs, I've been getting non stop 404's for the last 2 hours.

[2020-07-04 04:55] hjdhjd commented on #51
@DNSGeek Update to 5.0.2 and share the relevant log portions please if you're still having trouble. Thanks.

[2020-07-04 04:58] DNSGeek commented on #51
[code]

[2020-07-04 05:05] sethspergel commented on #49
I’m seeing the same thing. Logs look good but no garage door opener showing
up in my list of accessories anywhere.

On Fri, Jul 3, 2020 at 11:25 PM hjdhjd <notifications@github.com> wrote:

[2020-07-04 05:12] hjdhjd commented on #51
Alright. I'm hopeful it's the application identifier that myQ uses that's the issue. Sigh. Can you try out 2.0.3?

[2020-07-04 05:13] TheEngineerGuy commented on #51
Didn't show up yet.

[2020-07-04 05:15] jehrler commented on #49
The opener is not listed in the Homebridge Config UI list of accessories nor in the home apps even after the all-good log entries. If I go into the iOS home app Hubs and Bridges Homebridge is there but shows only 1 accessory (my thermostat).

Regards,

James R Ehrler

Sent from iPhone

[2020-07-04 05:18] hjdhjd commented on #51
It is. 😅

[2020-07-04 05:20] DNSGeek commented on #51
Updated to 2.0.3

[code]

[2020-07-04 05:21] DNSGeek commented on #51
I set verbose to true in the config. If you want to have it log debugging info, I'll be glad to post it.

[2020-07-04 05:24] boomboxtycoon commented on #51
Confirm, same here

[2020-07-04 05:27] hjdhjd commented on #51
Try 2.0.4 folks. Let's see if that helps.

[2020-07-04 05:27] hjdhjd commented on #51
The trouble with bugs like this is that I can't see it / play with it to fix it directly, because for me...everything works. Grumble.

[2020-07-04 05:28] dxdc commented on #53
@hjdhjd found (at least) what I think could be the problem. For one thing, the plugin doesn't update TargetDoorState after an API call. So, if you open the garage door manually (e.g., with the button, not HK) then TargetDoorState never gets updated. This I think is responsible for the icon issue.

Also, I believe:
[code]

is not the best way to do it. I think this is the correct way:
[code]

[code

[2020-07-04 05:29] DNSGeek commented on #51
2.0.4

[code]

Is there any other info I can try to get for you that might help?

[2020-07-04 05:31] dxdc commented on #53
I'm not sure what is returned from the API, so it's a bit more complicated I guess if an intermediate (e.g., opening or closing) value is returned.

In that case, maybe better to round the target state to the correct one -- either just open or closed. Something like this, although I'm not familiar with the myQ returned value

[code]

[2020-07-04 05:34] hjdhjd commented on #53
@dxdc You love your updateValues(). The folks who maintain homebridge don't...and they're loud about it. :smile:

The example you're citing is literally from the Homebridge Plugin documentation...I'm disinclined to make substantial changes without an awful lot of testing and tinkering. I'll look at it more in the next few days...I'm tapping out on this for tonight.

If you want to keep at it, plea

[2020-07-04 05:37] shamoon commented on #51
I dont think this has anything to do with MyQ throttling, as others have pointed out many plugins (homebridge-chamberlain, for example) have been using this version of the API for some time.

I think there's an actual error in the code, it seems to be pulling the wrong ID. Your `checkStatus` method logs "error logging in" even when the error is not on login, in my case (and Im guessing others) its

[2020-07-04 05:39] hjdhjd commented on #51
@shamoon The throttling problem was fixed in 2.0.2. That's not the issue.

[2020-07-04 05:40] hjdhjd commented on #51
As to accountID versus userID...both can work, it would seem. And depending on who you are, one does or the other does.

[2020-07-04 05:43] shamoon commented on #51
Perhaps userID works sometimes but the API URL is ..../Accounts/XXX/Devices, it clearly implies account ID. Thats also what other plugins use. My hunch is `userID` works sometimes, `accountID` works always. Obviously I cant be sure.

[2020-07-04 05:44] hjdhjd commented on #51
Let's give it a whirl. Give me a few.

[2020-07-04 05:44] dxdc commented on #53
Can you point me to where updateValues is wrong? It avoids set loops, which is why you can't call it on TargetDoorState for example.

E.g., https://github.com/homebridge/HAP-NodeJS/issues/543

That being said, I still think this line should be changed? The TargetDoorState should be updated by the returned API value.

[code]

[2020-07-04 06:01] hjdhjd commented on #51
Try updated to 2.0.5 guys. @shamoon - thanks for pointing me in the right direction. Your PR was almost pristine...appreciated, even if I didn't import it directly.

[2020-07-04 06:03] TheEngineerGuy commented on #51
Seems to be working. Discovered right away!

[2020-07-04 06:05] DNSGeek commented on #51
Yep. Worked for me as soon as I updated.

[2020-07-04 06:07] TheEngineerGuy commented on #51
Ok, but garage door is not showing up though.

[2020-07-04 06:07] hjdhjd commented on #51
Glad to hear it. Closing this one out.

[2020-07-04 06:07] #51 closed

[2020-07-04 06:08] TheEngineerGuy commented on #49
Ok, back here then, accessories not showing up. @hjdhjd . They are discovered, just not showing up.

[2020-07-04 06:09] hjdhjd commented on #49
@TheEngineerGuy assuming you're on 2.0.5...post the logs so I can see what we're working with here.

[2020-07-04 06:10] TheEngineerGuy commented on #49
[code]

[2020-07-04 06:16] shamoon commented on #51
Its your repo, do as you please but etiquette might dictate if you use 90% of someone's PR you merge it from that person and make your modifications after...

And I figured out the other bug causing no devices in HomeKit (at least for me). See PR #57

[2020-07-04 06:16] shamoon commented on #49
@jehrler The Config UI X issue is noted here: #55 , the author will have to add back the file. As for the no accessories there are multiple related issues I believe: #51 & #57

[2020-07-04 06:19] hjdhjd commented on #49
I think @shamoon was too quick on the draw there. LOL. @TheEngineerGuy stop homebridge, delete the accessories cache and restart. Give that a whirl. The accessories cache is at `~/.homebridge/accessories/cachedAccessories`

[2020-07-04 06:20] TheEngineerGuy commented on #49
I did this a couple of times. no go.

[code]

[2020-07-04 06:22] shamoon commented on #49
I was not too quick, you have to include `virtualgaragedooropener` device_type. This is not meant to be antagonistic, its supposed to be a community where people collaborate...

[2020-07-04 06:23] TheEngineerGuy commented on #49
Yep we are all working together. All good.

[2020-07-04 06:26] hjdhjd commented on #55
Should be fixed in 2.0.6

[2020-07-04 06:26] #55 closed

[2020-07-04 06:27] hjdhjd commented on #49
Likewise. Nobody's trying to be antagonistic...quite the contrary. It's good to have more eyes looking at this and collaborating. :smile:

[2020-07-04 06:28] hjdhjd commented on #49
@TheEngineerGuy what are the physical devices in question that you have? @shamoon mentioned above about a particular device type, but I've never seen it anywhere, so I'm curious, before I add in support for it.

[2020-07-04 06:29] TheEngineerGuy commented on #49
I just have a garage door opener, that's it.

So, it has a built in GW and Opener.

[2020-07-04 06:31] #49 closed

[2020-07-04 06:36] hjdhjd commented on #49
Should be fixed in 2.0.7.

[2020-07-04 06:40] jadtec87 commented on #49
I see it now and it works! thanks!

[2020-07-04 06:45] deanliou commented on #49
I just installed homebridge, homebridge config ui x, tplink, and this myq2 about an hour and a half ago.  I must have gotten 2.0.3 at the time installed. I was watching this issue and the other api 404 issue in real-time as you all were discussing. I did 2.0.5 and then this 2.0.7 just minutes ago. Pretty excited to have been able to watch this all come together. Many thanks to all of you!

[2020-07-04 06:51] TheEngineerGuy commented on #49
Updated to 2.0.7 cleared accessories and persist cache, restarted HB. Still the same, no door in accessories list.

[7/4/2020, 12:46:44 AM] [myQ] Successfully connected to the myQ API.
[7/4/2020, 12:46:45 AM] [myQ] myQ garagedoor device discovered: Garage Door - CGxxxxx.
[7/4/2020, 12:46:45 AM] [myQ] myQ gateway device discovered: Garage Door - GWxxxxxx.

[2020-07-04 06:53] hjdhjd commented on #51
@shamoon Honestly...you're right. Sadly, my serious coding days are well behind me and this is my fun and relaxation side projects...and Github and the nuances of how to handle merges and commits aren't things I get a lot practice in. I'm not used to having coding collaborators and frankly I don't want to screw up a merge...so when I'm not planning on taking the entirety of a PR, I glean through i

[2020-07-04 06:56] hjdhjd commented on #49
@TheEngineerGuy I gotta believe the accessory is there somewhere. Check the default room, or the homebridge bridge in the Home app?

[2020-07-04 06:56] hjdhjd commented on #49
@deanliou Thanks...that's the fun of being in a community like this, and meeting folks like @shamoon.

[2020-07-04 06:58] TheEngineerGuy commented on #49
I am just not getting the third log entry that another person reported "Adding ......" I only get discovery, and that's it.

[2020-07-04 07:05] cuellarfr commented on #49
Same here, accessory is still missing

[2020-07-04 07:06] shamoon commented on #51
No worries, that all makes sense, appreciate it. Github especially makes it very easy to make suggestions on a PR and also after merging it you can always still test & make your own modifications before releasing it (PRs on repositories like this that use a package manager shouldn't contain updates to package.json etc so its not like any changes you merge immediately get pushed out). IMHO stronges

[2020-07-04 07:37] hjdhjd commented on #51
Suggestions as in discussions (like this one)? Or...something else? As someone who has led a couple of decent size open source projects many many moons ago, I couldn't agree with you more on the collaborative approach. :smile:

[2020-07-04 07:37] hjdhjd commented on #49
Fixed in 2.0.8.

[2020-07-04 07:42] TheEngineerGuy opened #58 "Append Door State and state changes in HB logs"
@hjdhjd One thing I miss from your previous plugin was the ability to see door opening, open, closing, closed log updates in HB Logs. Can we add that?

EDIT: Not urgent, just nice to have for TShoot purposes.

[2020-07-04 07:45] shamoon commented on #51
Yea there’s some cool shit if you dig around where you can comment on specific lines in a PR, have little sub-discussions, suggest code changed and apply them directly etc. I mean it’s usually overkill for small stuff like this but it’s kinda awesome

https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/commenting-on-a-pull-request

[2020-07-04 07:49] haroutig opened #59 "The requested platform "myQ" was not registered by any plugin."
I went through previous issues and i could not solve what is wrong with my config. I uninstalled and reinstalled multiple times, made sure the config.json is clean and no remnants of old configs are there and restarted hb multiple times as well. Followed the formatting to the letter and i still see this error in logs. This is what is in my config:

{
            "platform": "myQ",
            "ema

[2020-07-04 07:49] TheEngineerGuy opened #60 "Sends out notification on HB Restart"
When HB restarts, even if the door state hasn't changed, it sends out a notification. Not sure if this is by design, but certainly a change from previous plugin.

Not urgent, just wanted to ask and see what you thought about it.

[2020-07-04 11:01] cuellarfr commented on #49
Working now. Thanks!

[2020-07-04 11:46] guppstir commented on #44
Thank You for the update.
Tip: You'll want to make sure you uninstall and reinstall or just delete the old config settings first.

[2020-07-04 12:42] mjtarr commented on #59
I am having a similar problem. After the update, no accessory appears. In the logs, I get:

7/4/2020, 8:34:09 AM Bridge is running on port 51826.7/4/2020, 8:35:49 AM Got SIGINT, shutting down Bridge...7/4/2020, 8:35:53 AM Loaded plugin "homebridge-myq2".7/4/2020, 8:35:53 AM The requested platform "MyQ2" was not registered by any plugin.7/4/2020, 8:35:53 AM Your config.json is requesting the platfo

[2020-07-04 13:25] Timeteo commented on #59
+1

[2020-07-04 13:27] kbrashears5 commented on #44
Something to note - in your config.json you need to change platform from MyQ2 to myQ - and it is case sensitive

[2020-07-04 13:33] RCdiy commented on #44
Using the web ui I clicked update. It started immediately without first showing the release notes. After the update the settings link is missing.
Web ui
iPod touch
Safari

[2020-07-04 13:38] whreams commented on #44
I did the below and all is working as expected.

[2020-07-04 13:40] RCdiy opened #61 "Update no release notes"
Web ui
iPod touch
Safari
On selecting update it starts immediately without showing the release notes.

[2020-07-04 13:42] DMBlakeley commented on #44
I waited for the overnight dust to settle. This morning, uninstalled previous version via web interface (which also removes config.json settings), restarted Homebridge, installed latest myq2 version (2.0.8), entered credentials, restarted Homebridge, and MyQ started up very smoothly with the garage door being added in seconds.

Yes, by uninstalling you will lose your present garage door in any Fav

[2020-07-04 13:43] RCdiy commented on #54
Why would we look at a readme for an update using the web ui?
Thanks for your work especially over the holidays 👍

[2020-07-04 13:56] joeria100 commented on #44
Hi,

Sorry to bug you.  I uninstalled and reinstalled on Polisy and readded my credentials, yet the garage door nodes do not populate in polisy.  Continue to get no devices message in the log (attached).  Ive double checked my credentials and they are correct.

What should I look at?

Thanks,
Joe

Joseph R. Iantosca, CRISC, CDPSE
JRIantosca@gmail.com<mailto:JRIantosca@gmail.com> | 732-616-7770<tel

[2020-07-04 14:05] Vermyndax commented on #59
Same... after the update, it has actually crashed my entire Homebridge and sent it into a restart loop.

[2020-07-04 14:07] Vermyndax commented on #59
Jul  4 09:05:52 astaroth systemd[1]: Started Homebridge.
Jul  4 09:05:52 astaroth homebridge[12849]: [7/4/2020, 9:05:52 AM] Loaded config.json with 0 accessories and 3 platforms.
Jul  4 09:05:52 astaroth homebridge[12849]: [7/4/2020, 9:05:52 AM] ---
Jul  4 09:05:53 astaroth homebridge[12849]: [7/4/2020, 9:05:53 AM] Loaded plugin: homebridge-alexa@0.4.73
Jul  4 09:05:53 astaroth homebridge[12849]:

[2020-07-04 14:07] Timeteo commented on #59
Resolved.
I see the "platform" in the config changed from "MyQ2" to "myQ". Just an upgrade added "myQ" but left "MyQ2". I think that is what causes the issue because by removing all references in config and reinstalling appears to be working now.

[2020-07-04 14:09] Timeteo commented on #59
@Vermyndax same for me (even after uninstall) until I removed all references to MyQ in the config. Cleaning out all myQ config enteries, and then re-installing the plugin solved it all for me.

[2020-07-04 14:10] Vermyndax commented on #59
Thanks @Timeteo that resolved me as well.

[2020-07-04 14:10] Vermyndax commented on #59
All I did was hand-edit the config.json in the terminal and change it to "myQ" as per your suggestion.

[2020-07-04 14:33] haroutig commented on #59
unfortunately none of these worked for me...

[2020-07-04 14:40] z0rak commented on #59
Same here, under hoobs:

[2020-07-04 14:44] z0rak commented on #59
same here, using hoobs 3.2.6:  ```7/4/2020, 10:38:35 AM HOOBS listening on port 80.
7/4/2020, 10:38:38 AM Loaded plugin "homebridge-myq2".
7/4/2020, 10:38:38 AM Loaded plugin "homebridge-nest".
7/4/2020, 10:38:40 AM Loaded plugin "homebridge-ring".
7/4/2020, 10:38:41 AM Loaded plugin "homebridge-zway-kevindayton".
7/4/2020, 10:38:41 AM [Nest] Fetching Nest devices.
7/4/2020, 10:38:41 AM The reques

[2020-07-04 15:11] haroutig commented on #59
A full uninstall/reinstall of homebridge doesn't solve the issue...

[2020-07-04 15:27] jlg89 commented on #54
I never could get the update working, even after yanking it all out by the roots and reinstalling, even though I've read and followed the README. Homebridge kept complaining about the plugin not being registered etc. and the garage door wouldn't show up in HomeKit. Finally had to switch to homebridge-chamberlain, which worked immediately.

[2020-07-04 15:32] jlg89 commented on #59
https://github.com/hjdhjd/homebridge-myq2/issues/54#issuecomment-653779261

[2020-07-04 15:55] hjdhjd commented on #54
The platform name needs to be correct. Change it from MyQ2 to myQ. It’s a subtle difference. The README is correct. Ensure you’re on the latest 2.0.8.

@jlg89 What is the config.json that you are using, and what is the setup you have? This release has been tested and is working by others, so let’s see what is unique here.

[2020-07-04 16:04] zirdum commented on #54
I'm having a similar issue with this plugin. I'm getting this now in my logs:
[7/3/2020, 10:38:54 PM] [myQ] myQ garagedoor device discovered: Garage Door Opener - CG085003A730.
[7/3/2020, 10:38:54 PM] [myQ] myQ gateway device discovered: ZHQ - GW0B0003DF46.

But, I'm not seeing the garage door in the home app. I'm using the docker version of homebridge if that matters.

[2020-07-04 16:04] hjdhjd commented on #60
It is by design (at the moment). I haven’t decided if I like it or not...open to feedback. The elegant side of my head says “no notifications unless there is something to notify on” and the pragmatic side of my head “hey, it’s just letting me know that it’s working” are having a debate about this one.

Thoughts?

[2020-07-04 16:07] hjdhjd commented on #61
The website README are the release notes. I have no idea what you’re referencing, can you explain in more detail?

[2020-07-04 16:09] hjdhjd commented on #58
@TheEngineerGuy can you be more specific? What’s the ask, exactly? That state changes are recorded regardless of whether they were initiated in HomeKit or not?

[2020-07-04 16:10] hjdhjd commented on #54
@zirdum What version of the plugin are you on?

[2020-07-04 16:13] hjdhjd commented on #54
@jlg89 Perhaps it’s my old school way of thinking but...never, ever, ever, ever install an update without understanding what it will do to your system or setup is always the wisest course of action.

Is there a better place to inform people of breaking changes? The major version bump is the convention to indicate new / breaking changes.

I don’t use the UI, but recognize others do...so if there’s

[2020-07-04 16:13] TheEngineerGuy commented on #60
LOL! Man, I am in the same dilemma now. Thanks for explaining.

I guess we can listen to other people's thoughts.

[2020-07-04 16:16] andrewturko opened #62 "Closing and Opening States Aren't Updated Consistently."
Garage Door accessory state accuracy in home app is unreliable. Current state is:
- Toggle door closed: “Closing...”, stays hung up until force close. Sometimes, force close does not work, and a tap on accessory is only thing to clear it to correct state.
- Toggle door open: Immediately jumps to “Open”, with no “Opening...” state.

Config value overrides for OpenDuration and CloseDuration do not a

[2020-07-04 16:18] TheEngineerGuy commented on #58
@hjdhjd You know the HB log which is visible, it no longer shows when this plugin records a particular state for door.

In the past, if I would open Home App, HB Log would say:
[Garage Door] ....... Closed

When I would open using HomeKit or otherwise, it would say:
[Garage Door] ....... Opening
[Garage Door] ....... Opened

When I would Close using HomeKit or otherwise, it would say:
[Garage Door

[2020-07-04 16:19] zirdum commented on #54
Ah, was on 2.0.4... 2.0.8 (latest) works! Thank you!

[2020-07-04 16:26] TheEngineerGuy commented on #62
Hey @andrewturko This doesn't seem to be happening on my Home app. Is there a way to recreate this?

[2020-07-04 16:28] hjdhjd commented on #58
But you get that. The logs will say:

[code]

So I’m missing what the ask is.

[2020-07-04 16:30] haroutig commented on #54
I'm in the same boat. #59

[2020-07-04 16:31] TheEngineerGuy commented on #58
My Apologies:
What is missing is the final state recorded. Such as opened or closed.

[2020-07-04 16:33] cuellarfr commented on #54
In the web UI, some plugins show the changelog before you apply the update. No idea how difficult to implement this is, but that would be the perfect place to warn about things like config changes. This plugin has been rock solid for me since December, thanks so much!

[2020-07-04 16:35] TheEngineerGuy commented on #62
Yes, I can confirm this does happen. Which is quite weird.

[2020-07-04 16:48] jlg89 commented on #54
First, let me back up a bit and be very clear that I appreciate your work, and the feedback that I offer is with the goal of improvement, in the quality of the plugin and/or in my understanding of how it works.

The README is absolutely the correct place to inform people of breaking changes. That's not the problem; I did read the README, albeit after I clicked the "update" button on the MyQ plugin

[2020-07-04 16:51] hjdhjd commented on #58
Ah. I'll take that on at some point in the near future. Closing this one out...it'll be in an upcoming update @TheEngineerGuy.

[2020-07-04 16:51] #58 closed

[2020-07-04 17:00] hjdhjd commented on #54
@jlg89 Thanks for elaborating. I'll be more precise in the README. The plugin **is** working for the vast majority of folks. If you're still having issues, post your config.json and let's take a look. Ensure you're on v2.0.8 of the plugin as well. Thanks!

[2020-07-04 17:06] haroutig commented on #54
I have my config posted for this exact problem in an open issue if you want to take a look: #59

[2020-07-04 17:09] hjdhjd commented on #59
@haroutig What version of the plugin are you using? What is the exact homebridge setup you have? Let's see what we can figure out here.

[2020-07-04 17:12] haroutig commented on #59
using the latest version (2.0.8) I have been uninstalling, cleaning and reinstalling as updates have released. I am running HOOBS in a docker container. Every other plugin, including yours worked fine until last week, other ones still work now.

[2020-07-04 17:20] hjdhjd commented on #59
I'm afraid I don't use HOOBS. I use homebridge directly, so I can't meaningfully help troubleshoot issues on that front.

What log entries do you see relating to myQ? Your config (minus the plugin_map pieces) looks okay at the moment.

[2020-07-04 17:28] gizmotronic commented on #60
If there’s a change in status – say, a door was last known to be closed, but it’s open on restart – I would prefer to know. In any other case it’s unwanted noise for me.

Perhaps this behavior could be configured by a configuration flag?

[2020-07-04 17:30] boomboxtycoon commented on #54
All working over here, thank you very much for the updates! Lots of work, I know, thank you for your time!

[2020-07-04 17:35] haroutig commented on #59
HOOBS is essentially a webUI for homebridge, the core is the same, which is why it worked fine up to last week and why everything else still works. the only entries i see are:

-Plugin "homebridge-myq2" installed.
-Loaded plugin "homebridge-myq2".
-The requested platform "myQ" was not registered by any plugin.
-Your config.json is requesting the platform "myQ" which has not been published by any i

[2020-07-04 17:35] hjdhjd commented on #60
This is too esoteric and I don't want to gum up the plugin with too many edge-case options. This is, at best, an annoyance for those who don't want it, and a reassurance to those that do.

Nobody should be relying on this (or most) homebridge plugins to be the universal source of truth. Especially with an undocumented API like this one. It is, by definition, best-effort. :smile:

My inclination is

[2020-07-04 17:35] #60 closed

[2020-07-04 17:49] haroutig commented on #54
What steps did you take that got it working for you?

[2020-07-04 17:52] abhollan commented on #62
This is happening to me too. Relatedly, if I close the garage door using the Home app, it goes straight from ‘open’ to ‘close’ while the door is still closing, without ever actually saying ‘closing’ like it used to.

[2020-07-04 17:57] boomboxtycoon commented on #54
Modified the platform name, passed out, updated to 2.0.8 this morning, then a HB restart. Got an instant garage closed on restart and it was now in the Home app.

[2020-07-04 18:15] jadtec87 commented on #62
same here.  Though if i close the home app and open it again i see it say opening or closing.

[2020-07-04 18:30] elkaboing commented on #61
They’re probably updating through Config UI X which will provide release notes for some plugins.

[2020-07-04 18:34] haroutig commented on #59
I set up a new installation and did everything from scratch and it seems to finally be working for now. Weird because I'm using the same plugins and i copied over the config.json. I'll mark this closed.

[2020-07-04 18:34] #59 closed

[2020-07-04 18:39] RCdiy commented on #59
@haroutig are you suggesting we all do everything from scratch? I did an uninstall and have the same problem. Actually my home bridge no longer works.
[code]

[2020-07-04 19:15] haroutig commented on #59
No, I am not suggesting everyone do this. If you can get it to work using the fixes referenced in older issues then great. This was the last resort option i went for, if nothing else works, then it is your choice if you want to go the nuclear route.

[2020-07-04 19:24] gizmotronic commented on #62
I'm seeing the problem as originally described. Worse, while I was able to control the door about 12 hours ago, nothing happens at all when I use either the Home or Eve apps.

[2020-07-04 19:58] mjtarr opened #63 "Still not up and running"
So uninstalled plugin. Rebooted everything to be careful. Reinstalled.

Now I get:

7/4/2020, 3:46:47 PM Bridge is running on port 51826.7/4/2020, 3:51:45 PM Got SIGINT, shutting down Bridge...7/4/2020, 3:51:49 PM Loaded plugin "homebridge-myq2".7/4/2020, 3:51:49 PM The requested platform "myQ" was not registered by any plugin.7/4/2020, 3:51:49 PM Your config.json is requesting the platform "myQ"

[2020-07-04 20:05] abraver commented on #59
I'm afraid I'm in the same boat, on HOOBS.

Config:

    {      "platform": "myQ",
            "plugin_map": {
                "plugin_name": "homebridge-myq2"
            },
            "email": "****",
            "password": "****"
    }

Logs:

    7/4/2020, 2:57:18 PM The requested platform "myQ" was not registered by any plugin.
    7/4/2020, 2:57:18 PM Your config.json is requesting the pla

[2020-07-04 20:15] hjdhjd commented on #61
I'll ensure the README and CHANGELOG is included in the distribution bundle for the next release. I think that should do the trick.

[2020-07-04 20:17] hjdhjd commented on #62
@abhollan That's known behavior...I'll be dealing with this separately at a later point, but it's a cosmetic not a functional issue and HomeKit is weird about closing and opening states at times.

[2020-07-04 20:19] hjdhjd commented on #62
If someone has a reproducible, functionality issue, please do let me know. Otherwise if it's the cosmetics of saying opening and closing...yeah, I know. I'll deal with this in the coming updates at some point, but it's not high on my TODO list right now. I want to ensure functional blockers are dealt with, then finish restoring any missing functionality, and then look to add new things potentially

[2020-07-04 20:22] hjdhjd commented on #62
@andrewturko The config override values you speak of don't have as much to do with whether or not HomeKit shows closing or opening states. They are intended to provide additional resolution during key events to ensure we get timely updates back from myQ.

The plugin, quite intentionally at the moment, isn't trying to set closing and opening states right now.

[2020-07-04 20:27] hjdhjd commented on #53
@dxdc I wish I could remember where I read it perusing some of the long list of issues associated with homebridge and this was called out as something to try to not do unless necessary. That said...you are quite correct, and in the light of day, yep.

Let me play with this.

[2020-07-04 20:37] TheEngineerGuy commented on #62
Hi @hjdhjd , it is more than cosmetic my friend. When it gets stuck in a closing or opening state, notifications don't happen. So, definitely a functionality problem.

[2020-07-04 20:38] abraver commented on #63
This is a duplicate of #54 and #59 which are both closed, but I am still having the same issue.

[2020-07-04 21:01] hjdhjd commented on #62
Let me play with this. Stay tuned.

[2020-07-04 21:03] TheEngineerGuy commented on #62
Thanks @hjdhjd

[2020-07-04 21:17] gizmotronic commented on #63
Which version of Homebridge are you running?

I'm able to load the plugin with 1.0.2 and 1.1.1 (the current version), but it fails with exactly this error on Homebridge 0.4.53.

[2020-07-04 21:31] mjtarr commented on #63
I am running

HOOBS Version | 3.2.6
and
Node Version | 12.13.1

Not sure how that relates to homebridge...

[2020-07-04 22:40] andrewturko commented on #62
This issue has a potential affect on not only
visual accuracy, but the aforementioned notifications and automations too. I appreciate all the hard work you’ve put into this, thank you. @hjdhjd

[2020-07-04 23:02] gizmotronic commented on #63
Unfortunately, neither of those are directly related.

I spun an instance of HOOBS up in my Kubernetes cluster and poked around at it. There was no mention of a Homebridge version anywhere. So, I dug around in the provided Terminal. I found HAP-NodeJS, but couldn't find the actual homebridge package. This suggests that it's based on a pre-1.x version, and won't load current plugins.

[2020-07-05 00:06] DMBlakeley commented on #62
Also observed the same behavior. Door is open or closed but HomeKit is reporting opening or closing. Touching the HomeKit icon reports the state as open or closed correctly.

@hjdhjd, would like to add my kudos to the excellent work you have done up upgrading this plugin to current programming standards!

[2020-07-05 00:08] hjdhjd commented on #62
This is solved in 2.0.9...just off the presses.

[2020-07-05 00:09] hjdhjd commented on #62
@DMBlakeley Thanks, much appreciated! Nice to hear positive feedback. :smile: Now let's hope I'm not getting too cocky that this is fixed in 2.0.9. :smile:

[2020-07-05 00:11] hjdhjd commented on #62
There is still a known (to me) bug...if you start homebridge up and the door is currently open (instead of closed), the status will appear wrong in Home until you perform an action, and then it'll be fine. I need to spend some time tracking that down...but I view that truly as a minor annoyance for right now.

[2020-07-05 00:12] hjdhjd commented on #61
Fixed in 2.0.9.

[2020-07-05 00:12] #61 closed

[2020-07-05 00:12] hjdhjd commented on #53
Should be fixed in 2.0.9. I went another route...:smile:

Let me know.

[2020-07-05 00:13] hjdhjd commented on #58
@TheEngineerGuy a little something for you in 2.0.9...thanks for all your help in the past couple of days. Statuses should be logged now. :smile:

[2020-07-05 00:15] DMBlakeley commented on #61
Change log displayed but title was 2.0.8 -> 12.0.9  🙂.

[2020-07-05 00:18] hjdhjd commented on #61
One. Little. Mistake.

[2020-07-05 00:43] DMBlakeley commented on #62
On a sample of 1 open/close cycle (don’t want the neighbors to think I am going crazy) the closed/opening/open/closing/closed logging was correct, HomeKit provided notifications, and the status was shown correctly on the HomeKit tile.

[2020-07-05 00:44] hjdhjd commented on #62
@DMBlakeley How on earth do you think I've been debugging this thing all day? The neighbors definitely think I'm insane at this point, or that the poor guy next door doesn't realize he has gremlins in his garage! 😆

[2020-07-05 00:46] DMBlakeley commented on #62
Glad to see that you still have a sense of humor given the probably 200+ comments/responses that you have been fielding in the last 24 hours!!!

[2020-07-05 00:51] hjdhjd commented on #62
My best response here would probably be: no comment. 💯

I think people may ultimately mean well, but often don't realize how difficult and entitled they may come across. This is a labor of love, as are my other projects...but I also have an actual life and surprisingly, it doesn't revolve around reverse engineering the myQ protocol or poking around in the bowels of HomeKit. It's all good though...

[2020-07-05 00:52] TheEngineerGuy commented on #58
Worked like a charm. Thanks @hjdhjd. Love it.

[2020-07-05 00:52] hjdhjd commented on #63
@gizmotronic Seems like a reasonable assumption. This is a refactored modern plugin for Homebridge 1.0+ at this point...I'm sure they'll catch up eventually.

[2020-07-05 00:54] TheEngineerGuy commented on #62
Good stuff @hjdhjd . It is fixed, can confirm. Thank you again for your efforts my friend.

[2020-07-05 00:55] hjdhjd commented on #62
Closing this issue out guys...feel free to open a new one if a problem reoccurs.

[2020-07-05 00:55] #62 closed

[2020-07-05 00:56] hjdhjd commented on #37
@sebastiangoldstein Any further updates here, or can we close this issue out? Thanks.

[2020-07-05 02:29] mjtarr commented on #63
Thanks. Will try a direct homebridge install.

-m

[2020-07-05 04:14] jaredhobbs opened #64 "Garage door shows up; gate does not"
I have both a garage door opener and a gate opener. Both the garage door and gate show up in the logs but only the garage door is showing up in the Home app. For both openers, the logs say "garagedoor discovered". Any hints on how to get the gate opener working again? Was working great prior to the July 1st changes.

[2020-07-05 06:24] hjdhjd commented on #64
Sounds like you’ve got a device that I haven’t accounted for yet. Can you post the portion of the log showing what devices the myQ API discovered? You can redact serial numbers for privacy, of course.

[2020-07-05 07:04] hjdhjd commented on #53
Shows you how old I’m getting...this was the original conversation I was thinking of, and of course, I remembered it exactly backward when I was refactoring this app over the past couple of weeks. updateValue is the way to go...I need to look more closely to see how to continue to streamline the app.

https://github.com/homebridge/HAP-NodeJS/pull/556

[2020-07-05 13:50] andrewturko commented on #62
@hjdhjd Thank you for your prompt, continuous effort to keep this working fully. FWIW, I can also confirm I haven’t had an issue since update after using with several automations.

[2020-07-05 15:07] jaredhobbs commented on #64
[7/5/2020, 15:50:01] [myQ] Successfully connected to the myQ API.
[7/5/2020, 15:50:01] [myQ] myQ garagedoor device discovered: Garage door - CGXXXXXXXXXX.
[7/5/2020, 15:50:01] [myQ] myQ garagedoor device discovered: Gate - CGXXXXXXXXXX.
[7/5/2020, 15:50:01] [myQ] myQ gateway device discovered: MyQ Hub - GWXXXXXXXXXX.

[2020-07-05 15:35] hjdhjd commented on #62
@andrewturko Glad it hear it! Thanks for helping troubleshoot and track this down.

[2020-07-05 15:37] hjdhjd commented on #64
Hmm. Well that’s fascinating. They both show up as a garage door device...but you’re saying that only one accessory exists in HomeKit? Unfortunately, I don’t have two garage door openers myself so it’s harder for me to test this setup directly, but it should work just fine. Can you confirm what myQ devices you see in the Home app?

[2020-07-05 16:10] jaredhobbs commented on #64
The first one, Garage door, is the only one showing up in the Home app now. Prior to the api change, both the garage door and gate opener showed up.

[2020-07-05 16:21] MrCmonster commented on #64
Just to add, I have two garage doors and they **are** both showing up. Just wanted to say thanks @hjdhjd and let you know that part is working for me.
[code]

[2020-07-05 16:34] jaredhobbs commented on #64
Looks like you have multiple gateway devices as well. I think in my setup, only the garage door opener acts as a gateway device and the gate opener connects through the garage door opener.

[2020-07-05 16:37] MrCmonster commented on #64
Good point. Each opener is its own gateway.

[2020-07-05 16:47] johnacook-123 commented on #64
Hi I have the same issue, on the last plugin version both a gate and a garage door showed up as accessories, after the update only the garage door is showing but it does show it discovered the gate in the log. I have a single bridge. Thank you.

[2020-07-05 17:03] dxdc commented on #53
Glad we are on the same page 🦾

Thanks for making the changes. It looks good, I'll continue testing it and report back.

I added a PR (https://github.com/hjdhjd/homebridge-myq2/pull/67) which helps simplify some of the logic and address misc. linting issues. I copied your code format as exactly as possible. Mostly, I removed unused variables and used let/const instead of var throughout.

Lastly, I

[2020-07-05 18:06] AndreasMenrad commented on #64
I have only one garage door but it is not showing up. Log seems to show it found everything successfully. I have one gateway and a commercial garage door opener -> Logic 5.0 Model T

[37m[7/5/2020, 1:38:27 PM] [39m[36m[myQ] [39mSuccessfully connected to the myQ API.
[37m[7/5/2020, 1:38:27 PM] [39m[36m[myQ] [39mmyQ garagedoor device discovered: Garage Door - CG09XXXXXXXX.
[37m[7/5/2020, 1:3

[2020-07-05 18:07] hjdhjd commented on #53
Closing this out. Thanks.

[2020-07-05 18:07] #53 closed

[2020-07-05 19:06] abraver commented on #63
[Over on Reddit](https://www.reddit.com/r/HOOBS/comments/hldk8w/myq2_the_requested_platform_myq_was_not/), I got a suggested solution, though it would require the dev to make a small change (literally like 20 characters).

The ScreenLogic plugin [had the same issue](https://github.com/schemers/homebridge-screenlogic/issues/8), and the HOOBS folks submitted [a pull request](https://github.com/schem

[2020-07-05 19:08] hjdhjd commented on #63
There will be an update later today to address this. Thanks.

[2020-07-05 21:00] RyanRadly commented on #64
Having a similar issue. I have one gate opener and the necessary gateway for it; the myQ app displays it as expected, the logs in Homebridge loading show:

[7/5/2020, 3:54:35 PM] [myQ] myQ garagedoor device discovered: Gate - CG0A6XXXXX
[7/5/2020, 3:54:35 PM] [myQ] myQ gateway device discovered: Internet Gateway - GW01XXXXXX.

No accessories appear in Homebridge.

[2020-07-05 23:24] hjdhjd commented on #63
Give v2.0.11 a shot...

[2020-07-05 23:26] hjdhjd commented on #64
Hi guys...I’ve been watching this all day. I’m not sure exactly what’s going on, but let’s work to troubleshoot it...first...can you please update to the latest version (just released): v2.0.11...let’s start from a common base.

Then...if there’s someone on this thread that can be around and responsive over the next couple of hours, please let me know and we can work this issue and hopefully get i

[2020-07-05 23:28] hjdhjd commented on #53
Haven’t forgotten about this...it’s on the radar, but I want to avoid making too many potentially problematic changes at once. I just pushed out a new release with new functionality (really, restoring old functionality...) and want to hold off and finish troubleshooting some other availability issues, and then revisit this. I do agree - they should be using updateValue given our discussion...I jus

[2020-07-05 23:48] RyanRadly commented on #64
Hey @hjdhjd - I can be around for awhile!

In going to update the plugin, I had this error in the logs:

[myQ] Fetch error encountered: FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/d96daf11-0de4-451e-9e23-00ee5dd37786/Devices?filterOn=true failed, reason: read ECONNRESET

At any rate, updated to .11 and restarted Homebridge - API fetched as expected, but still not being expos

[2020-07-05 23:58] jaredhobbs commented on #64
I'm also around. Updated to the latest code. What can we do to help?

[2020-07-06 00:05] AndreasMenrad commented on #64
Thank you so much for working on this.
I just updated to the latest release and still the same. No errors, it recognizes the gateway and garage door opener in the logs, but nothing is showing up on the home app. I have a commercial garage door opener, not sure if that makes any difference.

[2020-07-06 00:07] hjdhjd commented on #64
@RyanRadly That’s a normal error...it just means the connection got reset for one reason or another. I’d be concerned if it was a repeated thing. The plugin retries regularly to connect to the API. Alright, let’s focus on the task at hand...

[2020-07-06 00:08] hjdhjd commented on #64
So guys - can you provide the following information:

1. What is your exact physical setup (i.e. what myQ devices and openers do you actually have in your home(s))?
2. Please post the logs you see from v2.0.11, redacted for the serial numbers.

[2020-07-06 00:15] AndreasMenrad commented on #64
I have the Liftmaster 819LMB MyQ Home Bridge and a Commercial Garage Door Opener - Liftmaster Logic 5.0 Model T.
Log:
[7/5/2020, 8:14:03 PM] [myQ] Successfully connected to the myQ API.
[7/5/2020, 8:14:03 PM] [myQ] myQ garagedoor device discovered: Garage Door (serial number: CG09XXXXXXXX, gateway: GW21XXXXXXXX).
[7/5/2020, 8:14:03 PM] [myQ] myQ gateway device discovered: MyQ TheMarx (serial numbe

[2020-07-06 00:16] DMBlakeley commented on #64
Physical setup: Chamberlain B550 garage door opener.
Logs:
`[7/5/2020, 8:10:22 PM] [MyQ2] Successfully connected to the myQ API.
[7/5/2020, 8:10:22 PM] [MyQ2] myQ gateway device discovered: Garage Door (serial number: GW0A00xxxxxx).
[7/5/2020, 8:10:22 PM] [MyQ2] myQ garagedoor device discovered: Garage Door Opener (serial number: CG0850xxxxxx, gateway: GW0A00xxxxxx).
`
Not experiencing any operati

[2020-07-06 00:21] jaredhobbs commented on #64
Liftmaster 8355W garage door opener; Liftmaster LA412UL gate opener

[code]

[2020-07-06 00:23] hjdhjd commented on #64
@AndreasMenrad I used to have that device!

So...what we’re seeing is that the API detects it, but for some reason we’re not adding the accessory. I assume everyone has tried clearing out cached accessories, and has verified that the accessory isn’t in the default room?

[2020-07-06 00:23] hjdhjd commented on #64
@DMBlakeley Good to see you here on this one. Are you running into issues as well?

[2020-07-06 00:24] jaredhobbs commented on #64
Correct, cleared cached accessories and only garage door opener shows up, no gate opener.

[2020-07-06 00:25] hjdhjd commented on #64
I got it.

[2020-07-06 00:25] hjdhjd commented on #64
Give me a few minutes, we’ll fix this right up.

[2020-07-06 00:25] hjdhjd commented on #64
`garagedoor` and `garagedooropener` are sadly different types.

[2020-07-06 00:25] hjdhjd commented on #64
Standby.

[2020-07-06 00:30] abraver commented on #63
Success!  Many thanks :)

[2020-07-06 00:30] cilianospina opened #69 "Error v2.0.11"
![72E46E47-A483-43AF-B2A9-CFAA675A2D7E](https://user-images.githubusercontent.com/53990473/86545655-d9e2b600-bef5-11ea-81d9-242cf031e84f.jpeg)

Not work for me, I uninstall, reinstall, work few moment but after 1 minute show error

[2020-07-06 00:37] DMBlakeley commented on #64
@hjdhjd, no I am not seeing any issues. Thought you were looking for configurations good and bad. Didn't roll up to the problem for this posting.

[2020-07-06 00:47] cilianospina commented on #69
Same #64

[2020-07-06 00:47] #69 closed

[2020-07-06 00:48] hjdhjd commented on #64
Hot off the presses...try v2.0.12 guys. That should do the trick.

[2020-07-06 00:50] hjdhjd commented on #63
Closing this one. Enjoy!

[2020-07-06 00:50] #63 closed

[2020-07-06 00:51] hjdhjd commented on #64
@DMBlakeley no worries. Welcome along for the ride...

What I’d love is to find someone who was using the battery feature in the older version of the plugin and see if we can get that going.

[2020-07-06 00:55] AndreasMenrad commented on #64
Just updated cleared cached devices and restarted. Sadly no change on my end.

[2020-07-06 00:57] dxdc commented on #53
Thx...  makes sense. So far, I was just wondering about the stopped/obstructed state, and why that would report target as "open" instead of "stopped". Seems reasonable to me the target should be stopped if the current state is stopped?

Also, not sure how handling works if API can't be reached, if there is some nice way to indicate it. `updateReachability` doesn't work anymore I don't think, but n

[2020-07-06 01:00] DMBlakeley commented on #64
Eric Sandeen @sandeen submitted the original battery code. Assume that he had a battery to be able to test the code.

[2020-07-06 01:03] hjdhjd commented on #64
@AndreasMenrad Give me a few...

[2020-07-06 01:06] cilianospina commented on #64
Update no work for me, I restart server, and work few moment, and again same error!

[2020-07-06 01:09] jaredhobbs commented on #64
No change on my end either 😢. My garage door opener is still showing up in the Home app but the gate is not. Getting more info in the logs now though! (Possibly due to having debug set to true):

[code]

[2020-07-06 01:10] hjdhjd commented on #64
Thanks guys...I’m working on it.

[2020-07-06 01:20] hjdhjd commented on #64
@jaredhobbs I know what the problem is, and I’m implementing a fix. Essentially, that device_type category is important...in an effort to not assume everything is compatible, I’ve taken a conservative view of what a garage door opener can be. The challenge is, it being an undocumented API and all, there’s no telling what all the different types are. SO...will be fixed soon.

[2020-07-06 01:21] jaredhobbs commented on #64
Awesome, great to hear. Thanks for all your work on this!

[2020-07-06 01:26] AndreasMenrad commented on #64
Here is my detailed log in debug mode. Hope it helps:

[7/5/2020, 9:21:59 PM] [myQ] {
  count: 2,
  href: 'http://api.myqdevice.com/api/v5/accounts/xxxxxxxxxxxx/devices',
  items: [
    {
      created_date: '2019-12-08T16:51:42.933',
      device_family: 'garagedoor',
      device_platform: 'myq',
      device_type: 'commercialdooropener',
      href: 'http://api.myqdevice.com/api/v5/accounts/xxx

[2020-07-06 01:27] hjdhjd commented on #64
THANKS!

[2020-07-06 01:30] hjdhjd commented on #64
Alright guys...let’s try lucky 13. 2.0.13 is out. This should do it.

[2020-07-06 01:33] jaredhobbs commented on #64
Boom! That fixed it for me. Great work! 👍

[2020-07-06 01:34] hjdhjd commented on #64
The debug output was most helpful. Thanks again.

[2020-07-06 01:35] hjdhjd commented on #64
@AndreasMenrad can you report back as well?

[2020-07-06 01:35] AndreasMenrad commented on #64
Awesome. It is working. Thank you so much working so hard on it.

[2020-07-06 01:36] hjdhjd commented on #64
Thanks all for your help and putting in some time with me tonight. Closing this one out.

[2020-07-06 01:36] #64 closed

[2020-07-06 01:37] hjdhjd commented on #53
Reachability is deprecated...I’ll get to it. One thing at a time. :smile:

[2020-07-06 01:43] hjdhjd commented on #53
You’d think the myQ API would report stopped, but it never does in my testing unless you manually stop it. Once you do stop it...there’s no way to know what the thing was trying to do before it stopped. Stopping the garage door is an operation you can only do (again in my testing) physically at the door control itself.

As to obstruction...it’ll show that it detected an obstruction indirectly by s

[2020-07-06 14:26] dxdc commented on #53
Makes sense you can only do it at the door control itself. Seems this would be more of an accidental safety issue if you tried to do it remotely. There are laws around this, which is why it has to beep so many times when you close remotely to notify anyone in the area.

This was a clever addition, didn't consider this one.

Good point about only allowing a binary state. If it is stopped it's proba

[2020-07-06 14:38] LampeMW opened #71 "Error when running homebridge - UnhandledPromiseRejectionWarning: TypeError"
I recently updated to the newest version of homebridge as well as the newest version of homebridge-myq2, and am now getting this error when running homebridge. I'm not quite sure how to debug this and wanted to see if you could help figure it out.

[code]

Here's a sample of my config json:

[code]

Thanks!

[2020-07-06 15:06] hongziyang commented on #71
I'm seeing the same after doing a full updated to homebridge and the plugin.

[2020-07-06 15:13] markcsegal opened #72 "I updated to the new version today and my garage doors are not showing up at all."
They were there in the old version and gone after installing the current one in NPM (2.1.0 according to the home bridge web based UI).  I removed all mention of the old plugin in the config manually, so no more error on startup.  in fact the API is connecting, see log below, but no devices.

[7/6/2020, 15:58:21] [MyQ2] Successfully connected to the myQ API.

Any thoughts?  Is there a cache I have

[2020-07-06 15:38] 4rsfed commented on #71
Same issue here was working on 2.0.11

[2020-07-06 15:52] kapee96 commented on #72
I have the same Issue. in the log i am getting the following error

node:4310) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'getCharacteristic' of undefined
    at /usr/lib/node_modules/homebridge-myq2/dist/index.js:238:21
    at Array.forEach (<anonymous>)
    at myQPlatform.myQUpdateDeviceList (/usr/lib/node_modules/homebridge-myq2/src/index.ts:264:22)
    at runMicrotasks (

[2020-07-06 16:17] LampeMW commented on #71
Thanks, I was on a way older version before updating today, so I just downgraded to 2.0.11 and it's working for me as a temporary fix.

[2020-07-06 16:27] 4rsfed commented on #71
How did you do that? I'd like to as well. :)

[2020-07-06 16:33] SafariKC commented on #71
Same here. It seems that one of my homes gateways is causing the issue.  The other home is able to use the latest plugin.

@4rsfed from the terminal where you have homebridge installed.

`sudo npm install -g homebridge-myq2@2.0.11`

[2020-07-06 16:53] SafariKC commented on #71
I just figured out what was throwing the error for me.  My Garage here at the main house has an old Chamberlain light module for controlling a plugged in lamp.  I don't use it so I removed it from the MyQ app and upgraded to the latest version again and it works.

Sounds like there's some logic around non-garage devices that still needs some love. Which makes sense looking at the change log as to

[2020-07-06 17:09] 4rsfed commented on #71
My setup is just 2 doors, pretty straightforward.

[2020-07-06 17:19] CAJensen01 commented on #72
Also having the same problem.

[7/6/2020, 12:15:21 PM] [myQ] Successfully connected to the myQ API.
[7/6/2020, 12:15:21 PM] [myQ] myQ garagedoor device discovered: Garage Door (serial number: XXX, gateway: GW23001C6102).
[7/6/2020, 12:15:21 PM] [myQ] myQ gateway device discovered: Hub (serial number: GW23001C6102).
(node:86615) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'get

[2020-07-06 18:05] BindersFullOfWomen commented on #71
Experiencing this issue as well on the latest MyQ2 version. Using HB version 1.1.1.

[2020-07-06 18:26] hjdhjd commented on #71
I’ll look at this later today folks...thanks!

[2020-07-06 18:33] hjdhjd commented on #71
@LampeMW Can you tell me the actual hardware device that you’re using for myQ? It would be helpful.

[2020-07-06 18:35] BindersFullOfWomen commented on #71
Overhead Door garage door and Win 10 for homebridge

[2020-07-06 18:44] hjdhjd commented on #71
@BindersFullOfWomen (BTW...love the handle!)...can you do me a favor and turn on debugging and fire it up. You’re going to see A LOT of data. I’m interested in the JSON parts that talk about the devices. You’ll see things like the serialnumber, device_type, etc...feel free to redact sensitive information, but it would help tremendously.

Thanks!

[2020-07-06 18:54] BindersFullOfWomen commented on #71
Thank you.

Here is what you were looking for (I think).

[code]

[2020-07-06 18:56] hjdhjd commented on #71
Nope. Did you turn on debugging for the plugin? Go into plugin settings, advanced, turn on debugging. This will generate a lot of information.

Then look in the logs and find lines that talk about device_type and device_family....paste that block here (redacted for sensitive information).

Thanks!

[2020-07-06 19:00] LampeMW commented on #71
Let me know if this is what you're looking for. I removed the urls as they had the API key in them, not sure if I left anything else in there that should be removed.

[code]

[2020-07-06 19:00] BindersFullOfWomen commented on #71
I did enable debugging, yeah. Just took a guess at what you were looking for. I'll dump it all to be safe and just clean up the PPI.

[code]

[2020-07-06 19:19] suedehed commented on #72
Same issue since upgrading today

(node:3078) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'getCharacteristic' of undefined
    at /usr/local/lib/node_modules/homebridge-myq2/dist/index.js:238:21
    at Array.forEach (<anonymous>)
    at myQPlatform.myQUpdateDeviceList (/usr/local/lib/node_modules/homebridge-myq2/src/index.ts:264:22)
    at runMicrotasks (<anonymous>)
    at p

[2020-07-06 19:29] hjdhjd commented on #71
Thanks. Give me a bit...

[2020-07-06 19:38] hjdhjd commented on #71
@BindersFullOfWomen and @LampeMW would you mind turning off debugging and showing me what the logs show when you startup? With debugging on, the messages will get lost in the noise. :smile:

[2020-07-06 19:39] BindersFullOfWomen commented on #71
The message that pops up is the first code snippet I posted. It shows up regardless of whether debugging is enabled.

[2020-07-06 19:40] hjdhjd commented on #71
@BindersFullOfWomen there are no other messages from the myQ2 plugin? Looking for all of them. The snippet you first posted is just the exception / error...seeing what else there is. Thanks.

[2020-07-06 19:43] maelstromchanneled commented on #71
For what it's worth, I'm seeing the same error.

Here is the startup log:

[code]

Here is my debug log:

[code]

Here is my config.json snippet:

[code]

[2020-07-06 19:44] BindersFullOfWomen commented on #71
Found it.

[code]

[2020-07-06 19:50] maelstromchanneled commented on #71
Yeah I'm seeing the same:

[code]

[2020-07-06 19:59] hjdhjd commented on #71
Thanks guys. Looking.

[2020-07-06 20:23] Moving-Electrons opened #73 "Invalid Username or Password Given - Error"
First: thanks for putting together such a great plugin. I updated to the new 2.0 version of the plugin, and it worked fine for a couple of days (I changed the config settings as indicated in the plugin page). However, after installing version 2.1.0, I'm getting the following errors:

[7/6/2020, 3:18:55 PM] [myQ] Invalid username or password given. Check your login and password.
[7/6/2020, 3:18:55

[2020-07-06 20:52] hjdhjd commented on #71
@BindersFullOfWomen @maelstromchanneled can you tell me what the actual devices you guys have are again?

Basically - I’m trying to answer this question: are all the devices you have being discovered by the API correctly?

You’ll note the “XXX device discovered...” lines. Can you cross-reference them with what you actually have physically installed?

[2020-07-06 20:57] maelstromchanneled commented on #71
One MyQ gateway with two sensors (two different doors) for me. When I looked through the logs, the number of gateways and openers looked right to me.

Also, it was working correctly before the API change.

I can compare the serial numbers (maybe?) if that helps? What other information are you seeking?

[2020-07-06 20:58] maelstromchanneled commented on #71
Yeah these lines are correct:

‘’’
[7/6/2020, 12:46:43 PM] [myQ] myQ gateway device discovered: Garage Door Hub (serial number: REDACTED).
[7/6/2020, 12:46:43 PM] [myQ] myQ garagedoor device discovered: Main Garage Door (serial number: REDACTED, gateway: REDACTED).
[7/6/2020, 12:46:43 PM] [myQ] myQ garagedoor device discovered: Side Garage Door (serial number: REDACTED, gateway: REDACTED).
‘’’

[2020-07-06 20:59] hjdhjd commented on #71
In your logs...are the serial numbers all unique, or do any of them repeat? They should (hopefully) all be unique...it’s a long shot, for sure. :smile:

[2020-07-06 21:13] hjdhjd commented on #71
One more thing to try...can you shutdown homebridge, delete all your cached accessories:

`rm -rf ~/.homebridge/accessories` (or whatever your homebridge directory is...).

The restart homebridge. You need to ensure homebridge is shutdown before you execute the above.

[2020-07-06 21:36] HunterJKirby opened #74 "Latest version breaks homebridge with “Not registered by any plugin” error."
‘The requested platform "myQ" was not registered by any plugin’ error completely broke homebridge even after uninstalling and clearing the cache. Tried setting config.json to “MyQ” instead of “MyQ2” as suggested on Reddit but to no avail, I had to uninstall Homebridge and start from scratch

[2020-07-06 21:37] r0ballis0n commented on #72
My door did not show up after the update either, but my error was looking for a plugin that was not found. I looked in the config and it was still asking for MyQ and not MyQ2. I added a 2 and saved the config and now my door is back. It did show up as a new device so I had to reconfigure my automation and scenes.

[2020-07-06 21:42] BindersFullOfWomen commented on #71
Yes. I have one device and it's being discovered just fine.

[2020-07-06 22:44] hjdhjd commented on #71
Can you try installing the beta version I just published...I don’t think this is going to fix anything, but perhaps we can narrow this down further.

[code]

See if that produces the same errors or not...

[2020-07-06 22:48] maelstromchanneled commented on #71
Just went back and checked the serial numbers.  My gateway and two devices all have unique serial numbers, and the gateway serial number is consistently cited with each device.  So that part seems correct (no repeats or bad numbers).

I'll shutdown HB, delete the cached accessories, and restart.  If that doesn't work, I'll switch to the beta.  Shouldn't take more than a few minutes...

[2020-07-06 22:56] maelstromchanneled commented on #71
Deleting cached accessories did not have an effect.  All other devices reloaded correctly, but myQ:

[code]

So, I'll try the beta now

[2020-07-06 23:07] maelstromchanneled commented on #71
No dice:

[code]

[2020-07-06 23:12] hjdhjd commented on #71
Let’s try this... install:

`npm install homebridge-myq2@2.0.13`

[2020-07-06 23:13] hjdhjd commented on #71
I want to trace down where this error crept in. That’s the last version before 2.1.0....

[2020-07-06 23:22] maelstromchanneled commented on #71
Yeah, that fixed it:

[code]

[2020-07-06 23:23] hjdhjd commented on #71
@maelstromchanneled Can confirm that between 2.0.13 and 2.1.0 something broke?

If so...that’s super helpful. If you wouldn’t mind testing for posterity...

[2020-07-06 23:25] maelstromchanneled commented on #71
Ok - no problem.  So now I will restart HB and execute these two commands in the startup script?

[code]

[2020-07-06 23:27] hjdhjd commented on #71
Shutdown homebridge.

[code]

[2020-07-06 23:33] maelstromchanneled commented on #71
Ok done.  This is what I got:

[code]

Then there was an initial moment where none of the devices in Home App were updating (all red), but that cleared when I changed rooms and now everything appears to be working ..?

Should I try opening and closing the garage door to confirm?  What's next for you?

[2020-07-06 23:36] hjdhjd commented on #71
@maelstromchanneled That initial moment is correct and expected behavior. You won’t get the accessories online until they connect to myQ.

What version of homebridge are you running?

Also...the xxx-xxx in this case is key, and is not private information, it’s the key name for the attribute and is a funky-looking string (a UUID) that every attribute in HomeKit has and is not unique to you. Can you

[2020-07-06 23:41] maelstromchanneled commented on #71
Ok no problem.  Homebridge v1.1.0.

Now I am getting an error, here is the log:

[code]

[2020-07-06 23:42] hjdhjd commented on #71
Thanks.

[2020-07-06 23:44] hjdhjd commented on #71
Anyone who is having this issue...if you want to be up and running now, install v2.0.13 for now by doing:

`npm install homebridge-myq2@2.0.13`

I’m working on solving this one.

[2020-07-06 23:53] maelstromchanneled commented on #71
Agreed.  I just went out in the garage and asked Siri to ...

1. ... open the side garage door
2. ... open the main garage door
3. ... close the side garage door
4. ... tell me the status of the main garage door
5. ... tell me the status of the side garage door
6. ... close the main garage door

Everything went as expected, and the HB log backs it up:

[code]

Running with `npm install -g homebrid

[2020-07-06 23:54] hjdhjd commented on #71
If you’re on 2.1.0 without an issue...that’s the current release version...so what changed?

[2020-07-06 23:54] maelstromchanneled commented on #71
Maybe doing 2.0.13 changed something along the way?

[2020-07-06 23:55] sonoseco commented on #72
Same error here as other have reported: Cannot read property 'getCharacteristic'.

[2020-07-06 23:56] hjdhjd commented on #71
Thanks.

[2020-07-07 00:01] maelstromchanneled commented on #71
Yeah, I'm on 2.1.0 now...  Still initially throws the above HAP warnings, but the openers are showing up in Home ... Not sure, but it appears that

1. stop HB
2. uninstalling 2.1.0
3. force install 2.0.13
4. start HB
5. verify openers are in Home
6. stop HB
7. uninstall 2.0.13
8. force install 2.1.0
9. start HB
10. verify openers are in Home

Has resolved the issue?

[2020-07-07 00:11] hjdhjd commented on #71
@LampeMW and others...can you verify? I’m suspicious of the above...but give it a whirl.

[2020-07-07 00:54] BindersFullOfWomen commented on #71
Can’t test tonight but I will check tomorrow to see if rolling back and then re-updating resolves the issue.

[2020-07-07 01:53] hjdhjd commented on #73
Your welcome...happy to contribute to the community.

As to your issue...I haven’t seen this particular issue. I’ve run into brief bouts of issues with the myQ API here and there that can manifest itself as login errors. The other possibility could be related to the API AppID we use to access the myQ API...would you mind just waiting this out for a day and trying again? If it’s still an issue, we

[2020-07-07 02:10] hjdhjd commented on #72
If you’re still having problems, look at #71 - which this is a duplicate of.

As a temporary workaround, if you need to be up and running:

`npm install homebridge-myq2@2.0.13`

Duplicate of #71

[2020-07-07 02:10] #72 closed

[2020-07-07 02:11] hjdhjd commented on #72
Closing this one to keep this issue consolidated on one trail #71

[2020-07-07 02:13] hjdhjd commented on #74
@HunterJKirby If you can provide more specific details on versions of homebridge, homebridge-myq2, and your setup, we can help troubleshoot. The above doesn’t really tell us much. Thanks.

[2020-07-07 02:13] #37 closed

[2020-07-07 02:25] markcsegal commented on #71
So to verify you want me to downgrade validate they work and re upgrade?  Do you want any logging?

[2020-07-07 02:31] sonoseco commented on #71
@hjdhjd I downgraded from 2.1.0 to 2.0.13 per your post and it worked, no more errors, then decided to upgrade again to 2.1.0 and so far no issues.

[2020-07-07 02:49] hjdhjd commented on #71
Thanks for the report @sonoseco . These types of bugs and bug reports are the stuff nightmares are made of.

Mysteriously come and go. Some weird magic incantation seems to fix it. But nobody exactly knows why.

Ugh. Would be good to see if others solve this in the same way...

Thanks all.

[2020-07-07 03:07] maelstromchanneled commented on #71
I suggest that there might be some setting either on the HomeBridge side or even on the HomeKit side that, once set in 2.0.13, persisted to 2.1.0.

If you can get ahold of of few folks who haven’t yet migrated, you might try having half of them go to 2.0.13 first, and the other half 2.1.0 first, and collect as much debug data as possible to isolate the setting.

Also, I wonder if someone starting

[2020-07-07 03:32] dakotahp commented on #71
I’m one of those on the current version that doesn’t work and am too lazy to downgrade because I run homebridge in a docker container which makes it more complicated. I’d be fine adding more explicit debugging output in a new release. It’s a bit drastic but there have been many releases in the last week so who cares. I would hope that the error ‘TypeError: Cannot read property 'getCharacteristic'

[2020-07-07 04:10] dppeak opened #75 "Fetch error encountered: FetchError (reason: connect EHOSTUNREACH)"
I'm on the latest version and I keep seeing the following error.

`[7/6/2020, 10:56:54 PM] [myQ] Fetch error encountered: FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/d528cad3-a1a5-4f0a-8bf9-8c3849c296a9/Devices?filterOn=true failed, reason: connect EHOSTUNREACH 40.71.237.40:443
[7/6/2020, 10:56:54 PM] [myQ] myQ API error: unable to refresh. Will retry later.`

It's recurring

[2020-07-07 04:21] hjdhjd commented on #71
@dakotahp I know what the error is, and it’s not an API error. I’m not ready to point fingers to anything other than my own code quite yet, but it sure feels like a bug in TS or homebridge we’re inadvertently running into.

If you want to give it a shot on a clean setup, go for it...you can always just launch a new docker container with a clean homebridge install and add this plugin to it. There’s

[2020-07-07 09:16] Cardo1 opened #76 "Lots of notifications despite no change in state"
At some point in the last few updates I’ve noticed the plugin has started sending out notifications despite there not being a change of state.

For example, I have various scenes that close the garages, if they’ve been left open.  My “good night” scene turns off all the lights and closes the garages and there’s also a timed scene in the middle of the night that also closes the garages, to mop up i

[2020-07-07 14:26] BindersFullOfWomen commented on #71
I can confirm. After rolling back to 2.0.13 the garage door showed back up and the errors stopped showing up in the logs.

[2020-07-07 14:38] markcsegal commented on #71
@hjdhjd I haven't done anything.  Let me know if you need some debug logs.  I can also setup a VM if needed and do a clean install.

[2020-07-07 19:34] BlueBeedle commented on #75
Not sure if this helps, but I have this same issue with the Chamberlain plugin as well:

https://github.com/iRayanKhan/homebridge-chamberlain/issues/109

[2020-07-07 19:51] #74 closed

[2020-07-07 20:33] Moving-Electrons commented on #73
Hi, thanks for getting back. The issue resolved itself in the last hours, I guess you were right about the API AppID used for this plugin. Thanks!

[2020-07-07 21:57] hjdhjd commented on #73
Closing this issue.

[2020-07-07 21:57] #73 closed

[2020-07-07 21:58] hjdhjd commented on #71
@BindersFullOfWomen Can you re-upgrade to 2.1.0 and see if that works?

[2020-07-08 00:35] justinrhodes commented on #71
I just removed 2.1.0, reinstalled 2.0.13 (left the setup untouched), updated to 2.1.0 and I'm still seeing this.

[2020-07-08 01:18] hjdhjd commented on #71
@justinrhodes Out of curiosity, did you follow all the instructions from [here](https://github.com/hjdhjd/homebridge-myq2/issues/71#issuecomment-654521950) or just a straight uninstall old version / install new version?

[2020-07-08 04:30] justinrhodes commented on #71
Just straight uninstall / install

[2020-07-08 04:42] hjdhjd commented on #71
@justinrhodes Would you mind trying the above method and seeing if that works?

[2020-07-08 04:58] justinrhodes commented on #71
Just walked through those [steps](https://github.com/hjdhjd/homebridge-myq2/issues/71#issuecomment-654521950) and I am now able to see everything working properly with the garage door recognized and no errors in the log.

[2020-07-08 05:04] hjdhjd commented on #71
@justinrhodes Well, on the plus side, we know how to solve the issue. On the minus side, still sorting out why the errors happen to begin with. It’s quite odd.

If you’re down for it...I’d be curious to know if there are issues installing this on a virgin homebridge install. I’ve been unable to recreate the issue on my end.

[2020-07-08 05:06] justinrhodes commented on #71
Sure. I'm running in a Docker. I can just spin up a new instance...standby

[2020-07-08 05:13] justinrhodes commented on #71
New instance of HB + 2.1.0 plugin resulted in hitting this issue.

[2020-07-08 06:22] hjdhjd commented on #71
@justinrhodes Thanks Justin. What version of HB is it? Were there any other plugins live, or just homebridge-myq2?

Now I’ve got something to work with to track this down. :)

[2020-07-08 14:36] BindersFullOfWomen commented on #71
following the uninstall reinstall work flow posted above didn't resolve the issue for me.

[2020-07-08 15:03] gizmotronic commented on #75
EHOSTUNREACH is a network-level error. Here's how the Linux [connect(3)](https://linux.die.net/man/3/connect) documentation describes it:

This is Chamberlain's issue to diagnose and resolve. As end users of the  platform, I think our only workaround is to retry until it works.

[2020-07-08 15:06] markcsegal commented on #71
I uninstalled, left the config.  Forced and install of 2.0.13, restarted, no devices.. then upgraded 2.1.0, still no devices.

[2020-07-08 15:22] justinrhodes commented on #71
[code]

This is running through the [oznu/homebridge Docker container](https://github.com/oznu/docker-homebridge) which always includes these plugins by default:

[homebridge-config-ui-x](https://www.npmjs.com/package/homebridge-config-ui-x)
[homebridge-dummy](https://github.com/nfarina/homebridge-dummy#readme)

[2020-07-08 16:32] maelstromchanneled commented on #71
@markcsegal, when you were in 2.0.13, did you check the HomeBridge log for myQ errors, and then try to connect HomeKit to verify devices?  If you aren't seeing devices in HomeKit with 2.0.13, would be good to get your HomeBridge error logs.

[2020-07-08 16:40] markcsegal commented on #71
@maelstromchanneled Same notice in the log.

[7/8/2020, 16:00:43] [myQ] Successfully connected to the myQ API.

I don't have debug turned on, but can if it will help.

[2020-07-08 16:51] ocdune opened #77 "Shared Chamberlain home not seen in plugin"
If someone shares their Chamberlain home to me in the MyQ app, I'm a guest in their home. This plugin does not find any devices in the shared MyQ home, just in the user's primary MyQ home. If the user doesn't have any devices in their primary MyQ home, no error is given, the only message seen in the logs is:

"Successfully connected to the myQ API".

Is there any way to use this to connect to a de

[2020-07-08 17:09] maelstromchanneled commented on #71
Wait, is that the last message you get in the logs with 2.0.13, but you still aren't seeing any devices in HomeKit?

[2020-07-08 17:17] markcsegal commented on #71
Yes.  just like on 2.1.0

On Wed, Jul 8, 2020 at 1:09 PM maelstromchanneled <notifications@github.com>
wrote:

[2020-07-08 17:23] maelstromchanneled commented on #71
@markcsegal ... that might be a different issue.  Even with debug=false, you should be seeing these kinds of log entries all together:

[code]

and then, if you are having the issue, you should see this entry:

[code]

[2020-07-08 19:31] markcsegal commented on #71
that was what I opened as issue 72 :), but it was merged.

[2020-07-08 19:50] maelstromchanneled commented on #71
Ok, I don't know if it will help @hjdhjd, but I'd recommend forcing the install to 2.0.13 and changing to `"debug"=true` in your config.json.  Post all the myQ log output lines -- it is weird that it is saying that the myQ API is connecting but then nothing more happens.

[2020-07-08 20:50] markcsegal commented on #71
Here it is on 2.1.0:

`[7/8/2020, 21:42:11] [myQ] { SecurityToken: 'reacted' }
[7/8/2020, 21:42:11] [myQ] Successfully connected to the myQ API.
[7/8/2020, 21:42:11] [myQ] Token: reacted
[7/8/2020, 21:42:12] [myQ] {
  Account: {
    AccessGroups: {
      href: 'http://api.myqdevice.com/api/v5/Accounts/redacted/AccessGroups'
    },
    AccessSchedules: {
      href: 'http://api.myqdevice.com/api/v5

[2020-07-08 20:52] markcsegal commented on #71
Here it is on 2.1.0:

[7/8/2020, 21:42:11] [myQ] { SecurityToken: 'reacted' }
[7/8/2020, 21:42:11] [myQ] Successfully connected to the myQ API.
[7/8/2020, 21:42:11] [myQ] Token: reacted
[7/8/2020, 21:42:12] [myQ] {
Account: {
AccessGroups: {
href: 'http://api.myqdevice.com/api/v5/Accounts/redacted/AccessGroups'
},
AccessSchedules: {
href: 'http://api.myqdevice.com/api/v5/Accounts/redacted/AccessSc

[2020-07-08 21:02] markcsegal commented on #71
Realize now.. my doors aren't there.   Checked the app and they are gone.. I did reset them the other day to reprogram some remotes, not sure that removed them from the app.. but maybe it did.. Stand by when I get a chance I will readd them.. this might be my issue..

[2020-07-08 21:42] SirRockwell opened #78 "Light Access"
I have downloaded the myq plugin for my HOOBS home-bride and it pulls up my garage door opener but not the light switch I have integrated too. Is their a different code for me to access the myq switch via Apple Homekit. Thanks in advance.

[2020-07-09 02:16] RCdiy opened #79 "Different fetch error (reason: read ECONNRESET)"
[7/8/2020, 18:53:07] [Garage] Fetch error encountered: FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/d5cd5316-cdfd-4181-9b83-20b69e7530ca/Devices?filterOn=true failed, reason: read ECONNRESET
[7/8/2020, 18:53:07] [Garage] myQ API error: unable to refresh. Will retry later.
[7/8/2020, 21:43:12] [Garage] Fetch error encountered: FetchError: request to https://api.myqdevice.com/a

[2020-07-09 02:19] RCdiy commented on #75
Could you edit the issue title by adding (reason: connect EHOSTUNREACH)?
If there are other fetch errors, like #79, it is quick to see that is is not the same.

[2020-07-09 20:36] markcsegal commented on #71
Ok, went and re-added them and they showed up!  So likely my bad, but made so many changes including downgrading... so who knows.  But I am up and running now!

[2020-07-09 21:52] TheEngineerGuy opened #80 "ECONNRESET - Causes notifications to stop"
**ECONNRESET Happened (which is fine):**
[7/9/2020, 10:19:31 AM] [Garage Door] Fetch error encountered: FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/xxxxxxxxxxxxxxxxxxxxxxxxxxx/Devices?filterOn=true failed, reason: read ECONNRESET
**Retry Triggered (which is awesome)**
[7/9/2020, 10:19:31 AM] [Garage Door] myQ API error: unable to refresh. Will retry later.

**Even though the

[2020-07-09 22:01] maelstromchanneled commented on #71
Glad it is working - what version are you running now?

[2020-07-09 22:08] markcsegal commented on #71
2.1.0

[2020-07-10 05:47] hjdhjd commented on #53
Re: obstructions...you don’t really get a choice. As you pointed out, by law and design, they’re always designed to fail “safe”...and “safe” = open. You don’t know what you’re closing on top of. It’s just a motor on a door, after all. So when the mechanics or sensors detect an obstruction, they always go to the open position. That’s the easy one.

The stop case is always the hard one. See...the ca

[2020-07-10 05:51] hjdhjd commented on #77
Interesting use case...I’d love to come back and dive into this one, but I need to finish addressing a couple of other bugs first...just wanted to let you know it’s on the radar. What would be helpful in the meantime is if you could repost the above (or use the edit feature, to encase the logs in a code block so it’s a bit more readable. Thanks!

[2020-07-10 05:53] hjdhjd commented on #80
Thanks for reporting. I will put this in the queue to look at with some other bugs I need to hunt down.

[2020-07-10 05:58] hjdhjd commented on #76
@Cardo1 I’m not sure I follow the issue. Can you provide a series of steps I can use to recreate the problematic behavior? I have, in the past and using other plugins and rogue HomeKit accessories (in my case it was an Eve Button that caused all sorts of weird notifications that weren’t tied to it to occur) causing issues. I’m not saying that’s what’s going on here, but it was the first thing that

[2020-07-10 06:00] hjdhjd commented on #75
@gizmotronic is correct. There’s not much I can do on this one directly. It reads like a network connectivity issue, not a HomeKit or homebridge-myq2 issue. If you’ve got a way of reliably recreating it, we can work with you to troubleshoot it. Do you have steps you can take to get this error to occur?

[2020-07-10 08:43] Cardo1 commented on #76
The notifications are standard HomeKit notifications.

So, in the Home app I have it set to send me notifications when the garage doors open or close.  In the past, the plugin would send me a notification only if the door state actually changed.  If it was closed and I asked it to open and it opened, I would get a notification.  If the door was closed and I asked it to close, I would not get a not

[2020-07-10 16:00] robertgranholm opened #81 "Lockitron Support"
I have a Lockitron lock connected to MyQ via a hub, it shows up in the app no problem.

I've setup and configured homebridge-myq2 and get success for API access and finding the hub, however, I don't see the lock or the "opener" I would guess it's referred to in the home app at all, what am I missing?

[7/10/2020, 11:47:38 AM] [MyQ Lock] Successfully connected to the myQ API.
[7/10/2020, 11:47:38 A

[2020-07-10 16:29] ocdune commented on #77
Thanks. I've updated the original post to show that as code.

Originally I wanted to use a guest user for my home bridge setup, just for security reasons. But now I'm a guest at another property and would love to be able to control it through Siri as well. Appreciate the help.

[2020-07-11 00:37] Kampe opened #82 "state of application deteriorates after day of use"
Start my homebridge server, all is well, myq can be contacted just fine and my devices show as intended.

After a day of runtime, the app is in a bad state, falling over complaining about password being incorrect, and earlier in the log stack was seeing errors generated and received from myq saying call customer support with an ID number to present them.

Any idea how that is occuring?

[2020-07-11 05:02] bwoodruff commented on #76
I'm also experiencing this. I have an automation that attempts to shut the garage door and lock the front door every hour that I'd normally be sleeping. After the recent changes I'm now getting a notification that the garage door was closed every time the automation runs, even though the door is already closed.

[2020-07-11 05:57] Kampe commented on #82
[code]

Keep in mind my device right now is currently contactable and showing in homebridge fine.

[2020-07-11 14:20] hjdhjd commented on #76
Can you guys share your automations, or create an example automation that I can recreate on my end? I’d appreciate it.

[2020-07-11 14:31] joebiber commented on #82
Same behavior over here, it's solved by a Homebridge restart after which it behaves fine for hours, maybe a day. Next time it does it I will check the MyQ app itself and see what behavior I find there. Kind of feels like a rejection on the MyQ server side after too many connections from homebridge-myq2 ?

[2020-07-11 14:53] Cardo1 commented on #76
I’m a bit confused by this request. Any scene that tells the garage to close will do. It doesn’t matter if it’s on a timer or manually activated.

[2020-07-11 14:56] hjdhjd commented on #76
Well, clearly not any scene, since I know of at least one person (me) who doesn’t have this issue and I have multiple automations tied to the garage door opening or closing. :smile:

Provide an example please.

[2020-07-11 15:02] Cardo1 commented on #76
I updated my above post. You were a bit quick!
But forget the scenes. Asking Siri on one device to close the garage when the garage is already closed will generate notifications on any other device that has notifications turned on for the garage.

[2020-07-11 15:03] hjdhjd commented on #76
That’s a simple enough use case to test. I’ll look into it.

[2020-07-11 15:04] Cardo1 commented on #76
This may seem like a crazy question, but do you have notifications turned on for your garage in the Holme app?

[2020-07-11 15:04] hjdhjd commented on #76
I just tested this...and can confirm the issue. Alright, I’ll queue this up in the backlog. Thanks.

[2020-07-11 15:04] hjdhjd commented on #76
@Cardo1 I’m not new to HomeKit. :smile: Yes, thanks.

[2020-07-11 15:05] Cardo1 commented on #76
Just trying to work out why you weren’t seeing the issue! Glad you’ve now witnessed it for yourself.

[2020-07-11 15:09] hjdhjd commented on #76
I wasn’t seeing the issue because I struggled with the initial description of the problem - it wasn’t very specific on the exact nature of the problem and how to recreate it in an (ideally easily) reproducible way. Chalk it up to miscommunication. :smile:

The comment above solved that. I understood the nature of the problem from your initial description to be related to automation, which it clear

[2020-07-11 15:19] dxdc commented on #82
Same here. Maybe an expired token?

[2020-07-11 16:42] dxdc commented on #81
@robertgranholm It sounds like your problem is here:

[code]

You would need to add support for a lock. I added a PR here: https://github.com/hjdhjd/homebridge-myq2/pull/84/files that I think at least helps notify you to the problem.

[2020-07-11 21:02] chriswcarter2 opened #85 "Unhandled promise Rejection Warning"
I keep getting an "Unhandled promise Rejection Warning". I've tried removing and reinstalling the plugin with no improvement.

`(node:7813) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'getCharacteristic' of undefined
    at /usr/lib/node_modules/homebridge-myq2/dist/index.js:238:21
    at Array.forEach (<anonymous>)
    at myQPlatform.myQUpdateDeviceList (/usr/lib/node_module

[2020-07-11 23:06] iRayanKhan commented on #85
Might be an Api change/outage? See https://github.com/iRayanKhan/homebridge-chamberlain/issues/111

[2020-07-11 23:29] armandr opened #86 "Garage state always says opening (everything else works fine)"
I'm able to open and close, and sometimes see the correct state of the door briefly when I tap the icon once and it opens the door.  Notifications when the garage is opened or closed work fine.

The rest of the time, the state is always stuck on "opening".

![IMG_4881](https://user-images.githubusercontent.com/11222953/87235688-90d6aa00-c3ac-11ea-9f5c-a8f40f096d0e.png)

Anyone else see this issue?

[2020-07-12 04:09] kepstein commented on #75
I have a similar problem. Here's the error I'm getting.

[code]

[2020-07-12 07:07] hjdhjd commented on #76
This one is fixed, pending the next release. I've got a few more bugs to squash before I push an update out but I wanted to let this thread know. Thanks for reporting it and helping make this plugin better!

[2020-07-12 07:28] hjdhjd commented on #85
Duplicate of #71

There's a fix in the thread as well that seems to work for most people. Please try that and see if it helps.

[2020-07-12 07:28] #85 closed

[2020-07-12 07:47] hjdhjd commented on #81
@dxdc myQ device discovery will always be shown, whether or not we ultimately add the accessory to HomeKit. The code you're referencing is for adding the device to HomeKit.

The discovery messages above are the ones that are exposed via myQ and aren't what is configured. If it doesn't show up there, that means that myQ doesn't know about it. If myQ doesn't know about it...then we can't do much abo

[2020-07-12 08:01] hjdhjd commented on #77
@ocdune Thanks for updating the above...there doesn't seem to be much to work with. From my glance through the above...there's no way to tell that you're in a shared home situation and pull the information into HomeKit. It doesn't seem that this information is exposed in the myQ API (or if it is, it doesn't seem to be reverse-engineered yet).

[2020-07-12 08:02] hjdhjd commented on #78
Lights aren't currently supported, but if it's possible to do with the API, I'd like to support it in the future. But currently, this isn't a supported configuration.

[2020-07-12 08:04] hjdhjd commented on #75
@kepstein what version of homebridge-myq2 are you running? It doesn't appear to be the current one from the log entry you posted (it references v4 of the API and the current plugin uses v5 since v4 was shutdown on July 1).

[2020-07-12 08:45] Cardo1 commented on #76
Thanks for all your hard work. Let me know if you’d like a Ko-fi for your efforts.

[2020-07-12 15:11] hjdhjd commented on #76
Thanks, but I don’t even know what a ko-fi is. :smile:

[2020-07-12 16:02] ocdune commented on #77
thanks, appreciate you looking at it.

[2020-07-12 16:02] #77 closed

[2020-07-12 18:19] hjdhjd commented on #78
@SirRockwell if you want to turn on debugging and post the device information (redacted for privacy of course), I can look into adding that support in a future version. I just don't have those devices to test with.

[2020-07-12 18:35] SirRockwell commented on #78
How do I turn on debugging and post the device redacted? I’d be glad to
post it.

On Sun, Jul 12, 2020 at 1:19 PM hjdhjd <notifications@github.com> wrote:

--
*Nick Griggs*
*517-449-7834*

[2020-07-12 20:04] hjdhjd commented on #71
All - give v2.1.1 a try, fresh off the presses.

[2020-07-12 20:04] hjdhjd commented on #76
All - give v2.1.1 a try, fresh off the presses. Feedback appreciated. Hopefully we got this squashed.

[2020-07-12 20:05] hjdhjd commented on #80
All - give v2.1.1 a try, fresh off the presses. Feedback appreciated. Hopefully we got this squashed.

[2020-07-12 20:05] hjdhjd commented on #79
All - give v2.1.1 a try, fresh off the presses. Feedback appreciated. Hopefully we got this squashed.

[2020-07-12 20:08] hjdhjd commented on #78
See the README...look in the config section for debug. It creates an awful lot of logging though, so be warned.

[2020-07-12 20:08] hjdhjd commented on #78
@SirRockwell You may want to edit the above message since your name and phone number are at the bottom, FYI.

[2020-07-12 20:11] hjdhjd commented on #86
Thanks for the report. What version of the plugin are you running?

[2020-07-12 20:11] hjdhjd commented on #82
All - give v2.1.1 a try, fresh off the presses. Feedback appreciated. Hopefully we got this squashed.

[2020-07-12 20:12] dxdc commented on #82
@hjdhjd Can't wait to try this, thanks! Probably we need to remove `npm run build` from `npm install`... it is causing a failure when using npm -g

[code]

[2020-07-12 20:15] hjdhjd commented on #82
@dxdc LOL. I wonder who added that...:smile: It's taken care of in the repo.

[2020-07-12 20:16] dxdc commented on #82
🤦

[2020-07-12 20:17] Cardo1 commented on #76
Tried updating to 2.1.1 but got a build error and 2.1.1 won’t install.  I’ll try and get a copy of the error...

[2020-07-12 20:20] MAscooby opened #87 "v2.1.1 install issue: ELIFCYCLE Failed at the homebridge-myq2@2.1.1 install script."
pi@raspberrypi:~ $ npm install -g homebridge-myq2

sh: 1: tsc: not found
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! homebridge-myq2@2.1.1 build: `rimraf ./dist && tsc`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the homebridge-myq2@2.1.1 build script.
npm ERR! This is probably not a problem with npm. There is likely additional logging outp

[2020-07-12 20:22] hjdhjd commented on #76
Fixed in v2.1.2.

[2020-07-12 20:22] hjdhjd commented on #82
It's there.

[2020-07-12 20:22] DMBlakeley commented on #82
Unfortunately the error deleted the plugin ....

[2020-07-12 20:23] hjdhjd commented on #82
v2.1.2 @DMBlakeley

[2020-07-12 20:25] MAscooby commented on #87
Resolved in 2.1.2 ... Thanks! :)

[2020-07-12 20:25] #87 closed

[2020-07-12 20:43] armandr commented on #86
Was 2.0.0.  Sorry just noticed how busy you've been :)

Upgraded to 2.1.2 will post a new issue if I see it again.

[2020-07-12 20:43] #86 closed

[2020-07-12 20:44] hjdhjd commented on #87
@MAscooby Sorry about that! :smile:

[2020-07-12 21:07] TheEngineerGuy commented on #80
Thank you homeboy. Will load it up, and will keep this thread updated.

[2020-07-12 23:52] dakotahp commented on #71
@hjdhjd It works beautifully so far and I have high hopes for the long term. Thanks to you and whoever had PRs merged on this release. I don’t have the free time as I used to in order to mess with my setup to help debug.

[2020-07-13 00:05] hjdhjd commented on #71
@hjdhjd This one was yours truly...I just needed to get to the weekend where I had some time :smile: That said...it's always a team effort. There are a few bug fixes queued up in this release and hopefully I've knocked them all out. @LampeMW can you verify 2.1.2 works and close this bug out?

Thanks to all of you guys for reporting bugs and helping with more context to troubleshoot.

Thanks!

[2020-07-13 00:06] hjdhjd commented on #76
@Cardo1 can you verify this is fixed when you get a chance and close out this bug report? Thanks!

[2020-07-13 04:22] maelstromchanneled commented on #71
Camping right now - will try when I return - thanks!

[2020-07-13 06:13] Cardo1 commented on #76
The extraneous notifications issue does appear to be fixed, thanks.

However, I have discovered another minor notifications related issue.

When opening the garage, the HK notification is generated when the “garage is opening” rather than when the “garage is open”.
When closing, the HK notification is generated as expected, when the “garage is closed”.

[2020-07-13 06:19] hjdhjd commented on #76
Thanks for the update...closing this bug out. On the minor point you’re calling out...I understand the perceived issue you’re calling out, but HomeKit controls notifying the end user of state changes...I only control telling them that the state has changed - and saying we are “opening” or “closing” **is** a state change, and this is expected behavior.

Appreciate your thoroughness in reporting. Cl

[2020-07-13 06:19] #76 closed

[2020-07-13 06:26] Cardo1 commented on #76
I guess HK decides the door is classed as open as soon as it starts opening, but is only deemed to be closed once it has finished closing.

Hadn’t noticed this behaviour, before, but I guess it makes sense!

[2020-07-13 12:57] robertgranholm commented on #81
Here you go, hopefully I redacted what was important...would be great if this is an easy add to toggle lock and unlock! Lockitron basically abandoned their product and now MyQ has to pick it up.

===

[7/13/2020, 8:51:11 AM] [MyQ Lock] { SecurityToken: 'xxx' }
[7/13/2020, 8:51:11 AM] [MyQ Lock] Successfully connected to the myQ API.
[7/13/2020, 8:51:11 AM] [MyQ Lock] Token: xxx
[7/13/2020, 8:51:11

[2020-07-13 13:35] hjdhjd commented on #81
@robertgranholm I've edited the above so it's enclosed in code tags. :smile:

If it's supportable, happy to do it.

[2020-07-13 13:56] hjdhjd commented on #81
Doesn't seem like the lock is exposed at all in the above I'm afraid. Can you try one more thing? Login to www.myliftmaster.com and see if you can see the lock there. If you can, perhaps we can reverse engineer this.

[2020-07-13 14:02] robertgranholm commented on #81
Thanks, not promising. It shows in the MyQ app, but if I try to login at myliftmaster.com is says..

Your request has been denied.

[5583776699898778187]

It does take my username and password though...lame! Lockitron had homebridge support really early on

[2020-07-13 14:04] hjdhjd commented on #81
Sorry Robert...perhaps when someone reverse engineers the protocol we can support it. Closing this out for now.

[2020-07-13 14:04] #81 closed

[2020-07-14 13:03] MaverickC2 opened #88 "Siri no longer can open garage doors."
Previously, using Siri to open garage doors by name worked. With recent updates it no longer works.

[2020-07-14 20:01] joebiber commented on #82
Hey guys ... this did not seem to fix the issue for me. Bummer!

[2020-07-14 20:33] maxbadrak opened #89 "Takes 5 minutes to connect to myQ"
Running the plugin 2.1.2 under node 12, with current Homebridge, on Windows. Looking at the logs, it takes 5 minutes from "initializing" to "successfully connected".
`
[7/14/2020, 4:16:58 PM] [myQ] Initializing myQ platform...
[7/14/2020, 4:21:58 PM] [myQ] Successfully connected to the myQ API.
`
It looks like this makes the garage door unusable -- the commands don't come through. :( Any ideas how

[2020-07-14 23:01] dxdc commented on #82
@joebiber what do your logs look like?

[2020-07-14 23:10] hjdhjd commented on #82
@joebiber Can you post additional details? Version of the plugin, logs and exactly what transpired or didn’t? Thanks.

[2020-07-14 23:11] dxdc commented on #82
@hjdhjd btw, from the logs, mine is getting a token every other day. one other possibility is that the token expired sooner (?) seems odd it would affect different people differently though.

[2020-07-14 23:11] hjdhjd commented on #88
Can you provide specifics? What version of the plugin are you using? Can you reliably recreate the issue? If so, can you provide steps to do so. Thanks!

[2020-07-14 23:12] hjdhjd commented on #80
Following up here. Updates?

[2020-07-14 23:12] hjdhjd commented on #82
@dxdc Mine gets a token every 20 hours on the nose. Can you check the timing? Reboots in between or no?

[2020-07-14 23:13] hjdhjd commented on #79
Following up on this one...any updates?

[2020-07-14 23:13] hjdhjd commented on #71
Following up on this one guys - any updates?

[2020-07-14 23:14] dxdc commented on #82
You're right, mine does too. I guess you changed the logic?

[code]

[2020-07-14 23:14] hjdhjd commented on #75
Closing this one out. Please open a new issue if this is still a problem.

[2020-07-14 23:14] #75 closed

[2020-07-14 23:14] #78 closed

[2020-07-14 23:17] hjdhjd commented on #82
Yes, by design. Best to get a token to be safe...hurts nothing.

That said...@joebiber - please post the requested information above and we can troubleshoot.

[2020-07-14 23:19] hjdhjd commented on #89
It’s a bit odd that installing the plugin didn’t install all it’s dependencies, including node-fetch. Can you elaborate on the specifics of your setup? What version of homebridge? And of homebridge-myq2? How’re you installing updates?

Thanks!

[2020-07-14 23:21] justinrhodes commented on #71
v2.1.2 on HomeBridge 1.1.1 has been working fine for me for the past 2 days. No unusual errors in my logs.

[2020-07-14 23:26] TheEngineerGuy commented on #80
@hjdhjd Strangely enough, I haven't had ECONNRESET since 11th July (normally it happens every night). Will update this thread updated next time I see it (possibly tonight).

[2020-07-14 23:34] maxbadrak commented on #89
Homebridge is 1.1.1, and homebridge-myq2 is 2.1.2. I install updates via 'npm i -g homebridge-myq2'
`
C:\Users\Administrator\.homebridge>npm list -g homebridge
C:\Users\Administrator\AppData\Roaming\npm
-- homebridge@1.1.1

C:\Users\Administrator\.homebridge>npm list -g homebridge-myq2
C:\Users\Administrator\AppData\Roaming\npm
-- homebridge-myq2@2.1.2
`

[2020-07-14 23:37] BindersFullOfWomen commented on #71
Same. I’ve updated and the errors seem to be fixed.

[2020-07-14 23:38] hjdhjd commented on #80
Closing this one out. Open a new issue if something occurs. an ECONNRESET isn’t a problem in and of itself...network issues happen. If the plugin just plain stops working, it’s an issue. Thanks!

[2020-07-14 23:38] #80 closed

[2020-07-14 23:39] hjdhjd commented on #71
Closing this one out. Thanks!

[2020-07-14 23:39] #71 closed

[2020-07-14 23:39] #79 closed

[2020-07-14 23:40] TheEngineerGuy commented on #80
Precisely that is what this thread is about. But I will keep it posted.

[2020-07-14 23:40] hjdhjd commented on #89
Can you uninstall the plugin and reinstall cleanly and see if you still see an issue?

Are there any other log entries?

Thanks.

[2020-07-14 23:42] hjdhjd commented on #80
Yep...but since nobody is having an issue, and multiple days have passed...time to close this out. Open a new issue if you see the problem recur. Thanks!

[2020-07-14 23:43] TheEngineerGuy commented on #80
All good @hjdhjd

[2020-07-14 23:50] maxbadrak commented on #89
Upgraded Node from 12 to 14.5, uninstalled node-fetch and homebridge-myq2, and then installed homebridge-myq2. This brought node-fetch correctly, and homebridge-myq2 now starts without errors. The apparent 5 minute delay is still there. Could it be because my `longPoll` is set to 300?

[2020-07-14 23:54] hjdhjd commented on #89
Yep...that would be a problem. :smile: You’ve told the plugin to check once every five minutes...and it does!

[2020-07-14 23:55] maxbadrak commented on #89
Shouldn't it check right away on startup though? I think earlier versions did that... (I am pretty sure it's not a false memory 😂 )

[2020-07-15 00:00] hjdhjd commented on #89
It does immediately on initialization, but then goes to the longPoll interval. Why do you have such a long time interval configured? I’m curious.

[2020-07-15 00:13] maxbadrak commented on #89
I thought 300 was the default "reasonable" value, so as to not overburden myQ servers. 🧐  Most likely I have it since the time I was trying other myQ/chamberlain plugins.

It looks like there might be a bug in the plugin -- when I start homebridge, the garage door is listed as "no response" for the first 5 minutes, which makes sense, since plugin only logs the door specifics after "successfully co

[2020-07-15 00:16] hjdhjd commented on #89
The default values that are preconfigured are more than reasonable for almost everyone. Modify them to your liking, but from multiple years of experience, I can tell you that they’re pretty decent. :smile:

No response is the right answer until the garage door opener is polled...it’s not a bug, it’s behaving as designed.

I’ll take a look into polling once at initial startup, I appreciate you poin

[2020-07-15 00:16] #89 closed

[2020-07-15 13:33] MaverickC2 commented on #88
Running version v2.1.2.

Steps to recreate:
Ask Siri: "Open {Garage Door Name}"

She now responds: "Sorry, I can't do that for you" instead of opening the garage door like Siri has in the past.

[2020-07-15 14:05] tiny-e opened #90 "Plugin throwing 400 bad request errors, no longer working."
This repeats over and over in my log:
[7/15/2020, 8:59:51 AM] [MYQ2] myQ API error: 400 Bad Request
[7/15/2020, 8:59:51 AM] [MYQ2] myQ API error: unable to authenticate. Will retry later.

Plugin Version: homebridge-myq2 v2.1.2
Homebridge Version:  Version 1.1.1
Ubuntu Bionic Beaver (18.04.4 LTS)
NodeJS version:  v11.15.0
Npm Version:  v6.14.6

Not sure what's going on / how to troubleshoot furthe

[2020-07-15 14:35] DMBlakeley commented on #88
Have you checked the name for your Garage Door in HomeKit? v2 of the MyQ2 app renamed “MyQ2 Garage Door Opener” by default. You can rename in HomeKit to “Garage Door” or your desired name for Siri to use.

[2020-07-15 14:56] xuanqian commented on #90
I am getting this over and over since this morning. Checked with my username and password and they are good with myQ.

[7/15/2020, 7:54:58 AM] [MyQ Homebridge] Invalid username or password given. Check your login and password.
[7/15/2020, 7:54:58 AM] [MyQ Homebridge] myQ API error: unable to refresh. Will retry later.

[2020-07-15 15:06] dxdc commented on #90
me too @hjdhjd . Strange thing is, restarting hb fixes it. Maybe we need a trigger to refresh security token on these kinds of messages?

[2020-07-15 15:28] hjdhjd commented on #88
Thanks @DMBlakeley. It's a good push to shift the default name in a future release.

[2020-07-15 15:30] hjdhjd commented on #90
I'm seeing similar. I'll push an update out soonish. Thanks.

[2020-07-15 15:37] MaverickC2 commented on #88
@hjdhjd @DMBlakeley - Already renamed prior to reporting. My name is "Garage Door #1".

[2020-07-15 16:04] whreams commented on #90
Only been running the latest version for 24hrs, but all functions normally for me - including Siri commands. Strange others see different.

[2020-07-15 16:16] tiny-e commented on #90
Restarting didn't help in my case.   Official myQ app is working fine,  however.

[2020-07-15 16:26] DMBlakeley commented on #88
I believe that this is a Siri/HomeKit issue. My door is named “Garage Door”. When I ask “Hey Siri, is the Garage Door open” she replies accordingly with “Yes, the garage door is open”. When I change the name to “Garage Door 1” or “Garage Door #1” she responds that this request is not supported. May want to try “Main Garage Door”.

[2020-07-15 16:37] MaverickC2 commented on #88
@DMBlakeley - looks like you are on to something. I removed the "#1" and it now works. Weird thing is this just started happening. No iOS updates to the phone. Wonder what changed.

[2020-07-15 16:52] DMBlakeley commented on #88
@MaverickC2 - there are certainly some inconsistencies in Siri and HomeKit!

Within HomeKit there are "rooms" and "accessories". I have my garage door opener in room "Garage" and named "Garage Door". Interestingly when you go to the room "Garage" in HomeKit the door is just named "Door". So possibly when I ask the question “Hey Siri, is the Garage Door open”, Siri is checking for "door" in room "g

[2020-07-15 17:22] MaverickC2 commented on #88
@DMBlakeley - I use it the same way.

[2020-07-15 17:32] hjdhjd commented on #90
Restart homebridge and all should be right with the world. I'm currently working on this one...thanks.

[2020-07-15 17:42] xuanqian commented on #90
Restart homebridge fixed the problem. Thanks for the advise!

[2020-07-15 19:09] dakotahp commented on #71
Still working great!

[2020-07-15 20:51] tiny-e commented on #90
I'm still getting the same error:

[7/15/2020, 3:50:24 PM] [MYQ2] myQ API error: unable to authenticate. Will retry later.

[2020-07-15 23:39] hjdhjd commented on #90
The error you're getting isn't bad in and of itself. HTTP API errors happen with myQ. They just do. However, we don't seem to be recovering gracefully from them in some cases.

I've encountered it myself. I'm testing an update that hopefully addresses this. In the meantime, a reboot will fix it, though you may see these errors from time to time, they should be largely innocuous.

[2020-07-16 01:25] TheEngineerGuy commented on #80
Saw an ECONNRESET last night, but seems to be working. TY

[2020-07-16 13:51] jiniej commented on #82
Hey was planning to come back to post more details later on the same day... got sidetracked, sorry about that.

I have homebridge running with -D and also myQ debugging enabled and will look out for the next time I get the errors.... I can tell you that without debugging on I was getting the same log output:

`
homebridge     | [7/10/2020, 12:59:58 PM] [myQ] Invalid username or password given. Che

[2020-07-16 13:54] hjdhjd commented on #82
Thanks - I’ve encountered the same issue and testing a fix. For the time being, reboot after a day or two and this should clear out. I’ll post a note when I push an update, but I want to ensure it’s decently tested. Thanks again!

[2020-07-16 13:57] joebiber commented on #82
Thank you good sir. Glad you found it too. I was worried it was just me... leading me to believe I had a failed/ impartial update / something else was going on that I'd have to track down. Restarting is easy enough for now, thanks for you hard work!

[2020-07-16 16:56] maelstromchanneled commented on #71
Yep, appears to be working great - thanks!

[2020-07-16 22:48] javierhe commented on #82
Hi, just wanted to let you know that I'm having this issue too. I'm on 2.1.2. Restarting the service solves the issue but I'm getting it back again. Let me know if you need more info. Thanks!

[2020-07-17 09:46] banjohb commented on #90
Same error here. Restart don't fix the problem!

[2020-07-17 17:32] hjdhjd commented on #90
Just published v2.1.3...give it a try.

[2020-07-17 17:33] hjdhjd commented on #82
v2.1.3 is out...give this one a try.

[2020-07-17 17:37] whreams commented on #82
Just downloaded and tested a bit.  Looks good so far.

[2020-07-18 14:22] jalustig opened #91 "Possibility to make motion sensor available?"
My LiftMaster automatically turns on its lights when it detects motion. Is there a way to make this available via HomeBridge so that we could have essentially a built in motion sensor?

[2020-07-19 02:40] patricegautier opened #92 "Spurious notifications and weird behavior when going to the home app"
I am now seeing the following behavior fairly consistently on two different home bridges, both up-to-date with the latest Home bridge and myq2 (2.1.3) plug-in:

Upon going to the home app I get a Closing… State then the state switches to closed and I get a notification that the door was opened and then another one the door was closed.  Of course I have done nothing at all to the door..

In the log

[2020-07-19 05:22] hjdhjd commented on #91
Short answer is: unlikely. If the myQ API exposes it, I can do something with it...but I haven't seen anything in the API that seems usable that can show motion sensor status. You can take a look for yourself by turning on debugging (but be warned, a lot of data will be logged). Look for the JSONs that show the myQ devices that get detected in status refreshes. If there's a field or entry for your

[2020-07-19 05:28] hjdhjd commented on #92
@patricegautier The "Closing..." is a Home app artifact that primarily occurs on a combination of homebridge startup and starting up the Home app for the first time in a while and it tries to refresh it's own status. Not terribly concerned about that one.

What is interesting is the can't find device errors. Alright, let's start with - what's your actual physical setup for your myQ devices...it so

[2020-07-19 05:29] hjdhjd commented on #90
Closing this one. Open a new report if you see a bug. Thanks!

[2020-07-19 05:29] #90 closed

[2020-07-19 05:29] hjdhjd commented on #82
Closing this. Open a new report if needed. Thanks!

[2020-07-19 05:29] #82 closed

[2020-07-19 05:30] #88 closed

[2020-07-19 05:32] hjdhjd commented on #88
Closing this one...if you see continued issues specific to this plugin, please open a new report. Siri support is a broader HomeKit thing, and not specific to this plugin per se. If things work correctly in the Home app, then they should work correctly via Siri. If they don't, there's not much I can do on the app side and homebridge (and this plugin) have no direct mechanism to deal with Siri. Tha

[2020-07-19 05:49] patricegautier commented on #92
Ok.. It is definitely new Since 2.1 though And seems to happen beyond start up of home bridge. I will confirm that though..

Two separate home Bridges in 2 different homes: one with two door openers connected directly to home bridge, and another one with one opener connected to a bridge connected to the home bridge. The error occurs on both

I did that on one of those bridges cannot remember which

[2020-07-19 05:58] hjdhjd commented on #92
Closing... is not new. I've seen it for months. :smile: But if you're seeing something that's truly an **issue** then let's troubleshoot it. If you're reporting something cosmetic that disappears shortly after startup...that's not going to the top of the queue.

When you say home bridges...are you referring to the home bridge hardware device that Liftmaster/Chamberlain sells, or an instance of hom

[2020-07-19 06:16] patricegautier commented on #92
OK I found the way to selectively remove excess weight from the cash and removed all the myQ2 entries

Let me rephrase:

Two separate raspberry pies home Bridges in 2 different homes: one with two door openers connected directly to the pi home bridge, and another one with one opener connected to a chamberlain bridge connected to the pi home bridge.

I will report..

Sent from my iPad

[2020-07-19 13:18] hjdhjd commented on #92
Patrice...I was able to recreate the bug you mentioned. I'm working on it.

[2020-07-19 14:54] hjdhjd commented on #92
A fix for the "Closing..." issue will be in the next release. Thanks!

[2020-07-19 18:14] patricegautier commented on #92
No thank you! And thanks for your work on this plug-in…

Sent from my iPad

[2020-07-20 18:51] kepstein commented on #75
So I think I may have discovered my problem. I have a Homekit enabled router (Eero Pro). I believe the Eero was blocking traffic. When I disabled Homekit security it seems to be working without any interruptions now.

[2020-07-20 19:07] hjdhjd commented on #92
@patricegautier Please try 2.1.4. I believe the "Closing" issue you mentioned should be addressed. Thanks.

[2020-07-20 19:08] patricegautier commented on #92
Installing the update.. will let you know!

Sent from my iPad

[2020-07-20 21:02] hjdhjd commented on #92
Look forward to it...

[2020-07-20 22:04] patricegautier commented on #92
It’s only been a few hours, but I can already tell you the bug is fixed.. I haven’t seen any occurrence of the issue and it was really easy to reproduce.

Sent from my iPad

[2020-07-20 22:54] 4rsfed opened #93 "Updating from 2.0.11 to 2.0.14 = The requested platform 'myQ' was not registered by any plugin."
Upgrading from 2.0.11 to 2.0.14 gives the following error:

`Error: The requested platform 'myQ' was not registered by any plugin.
    at PluginManager.getPluginForPlatform (/usr/local/lib/node_modules/homebridge/src/pluginManager.ts:224:15)
    at /usr/local/lib/node_modules/homebridge/src/server.ts:387:37
    at Array.forEach (<anonymous>)
    at Server.loadPlatforms (/usr/local/lib/node_modules

[2020-07-20 23:16] hjdhjd commented on #93
Please uninstall and reinstall the plugin and see if that solves this one. There's nothing that's shifted that should cause this...but clearly something is. :smile: Please let me know if uninstalling and reinstalling works. Thanks!

[2020-07-20 23:16] hjdhjd commented on #92
Great! Closing this one out. Thanks for reporting.

[2020-07-20 23:16] #92 closed

[2020-07-21 00:09] 4rsfed commented on #93
@hjdhjd uninstall and install of 2.1.4 did work 🤷‍♂️
Thank you!

[2020-07-21 00:09] #93 closed

[2020-07-21 12:51] whreams opened #94 "Occasional Fetch Error"
Symptoms just started with v 2.14.  The door works but unsure why the below has started to show up.

Node.js Version: v12.16.3
Npm Version: v6.14.4
homebridge-myq2: v2.1.4

[7/21/2020, 7:15:19 AM] [myQ] FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/de9b8700-73a9-4f7e-be5a-35f49acfc174/Devices failed, reason: connect ETIMEDOUT 13.83.97.206:443
    at ClientRequest.<anonymous> (

[2020-07-21 14:22] markcsegal commented on #94
I see this too.  Started the version before.  I see a slightly different error.

[7/21/2020, 15:04:08] [myQ] FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/7a9ac2d4-0ff6-41ef-bfd1-db7782a19057/Devices failed, reason: read ECONNRESET
    at ClientRequest.<anonymous> (/usr/lib/node_modules/homebridge-myq2/node_modules/node-fetch/lib/index.js:1455:11)
    at ClientRequest.emit (ev

[2020-07-21 15:05] tiny-e commented on #90
Strangely, the plugin is working now.. and I have _not_ updated to the latest version... weird.   Thanks very much for the quick support!

[2020-07-21 15:39] hjdhjd commented on #90
It's the myQ API that's flaky at times on the myQ end. Server availability on their end isn't always great and this plugin will shine a spotlight on those issues, and do so loudly as you've seen. :smile: We try to recover gracefully and retry at reasonable intervals until we can reestablish a connection. I'm working to streamline logging so it's not quite so alarming to people what's going on behi

[2020-07-21 17:10] DNSGeek opened #95 "2.1.4 and no alerts"
Since updating to the 2.1.4 release yesterday, I no longer receive alerts when my garage door is opened or closed.

[2020-07-21 17:48] abhollan commented on #94
I'm getting this too

[2020-07-21 19:13] shanepinnell opened #96 "Non-Responsive"
Recently my garage door is not responsive. From the logs:

[7/21/2020, 12:12:02] [Garage] Invalid username or password given. Check your login and password.
[7/21/2020, 12:12:02] [Garage] myQ API error: unable to refresh. Will retry later.

[2020-07-21 19:15] shanepinnell commented on #96
Username & Password are verified correct.

[2020-07-21 19:17] whreams commented on #96
Maybe at this point we need to note the make/model of our opener?  Hard to see rhyme or reason to some of the errors.  Some see them, while other’s don’t.  Strange...

[2020-07-21 19:37] shanepinnell commented on #96
LiftMaster 8500W

[2020-07-21 19:40] shanepinnell commented on #96
Well, it looks like deleting and re-adding fixed the problem.

[2020-07-21 19:40] #96 closed

[2020-07-22 01:48] TheEngineerGuy commented on #94
Guys, I think we have addressed this multiple times, but here we are again. We do not control the MyQ servers, so these errors are bound to happen when plugin to server communication gets interrupted for some reason.

As long as plugin keeps on working after the error, please ignore it. It clearly says that it will try again, and then it tries again and things keep on working. What else do you thi

[2020-07-22 02:14] DMBlakeley commented on #94
I would add that “control of servers” is common to many (all?) of the homebridge plugins. The accessory in your house is communicating one way to the accessory server. Homebridge in turn is polling this sever, possibly sending a command to the server, which in turn sends a command to the accessory. So, 4 internet communications to control the device. This is in contrast to a native Homekit device

[2020-07-22 02:17] hjdhjd commented on #94
This is not a bug. These failures have always happened, but I've chosen to inform the user versus silently ignoring them. They are unconcerning unless they are happening constantly, which would indicate an API error. Closing this one.

Thanks all.

[2020-07-22 02:17] #94 closed

[2020-07-22 02:26] hjdhjd commented on #95
Without more context and detail, this is impossible to troubleshoot or address. Please provide additional details of your setup, any relevant logging, and how to recreate the problem in question.

[2020-07-22 02:28] hjdhjd commented on #91
Bump on this one - if you have the JSON details above, I can look into supporting this in the future. Otherwise, I'll close this one due to inactivity. Thanks!

[2020-07-22 12:50] jalustig commented on #91
I’ve looked at the JSON and I don’t believe that the device (or at least my version) makes the motion sensor data available.

It seems actually that the motion sensor is on the wall mounted unit (which also incidentally has the button to turn on/off the light), not the actual garage door opener.

[2020-07-22 13:18] whreams commented on #94
Thanks to @hjdhjd  @DMBlakeley and @TheEngineerGuy for the explanation and work.  I only started using the plugin around November of ’19 and suspect there’s a longer history of how Chamberlain has supported this part of the business.  Totally get the explanation and the decision on how to handle.  Thank you for explaining, and on the plugin work.

[2020-07-22 13:21] hjdhjd commented on #91
Thanks for the followup. That's unfortunate. I hope in the future there's a bit more sophisticated support for things like that from myQ but time will tell. Closing this one out.

[2020-07-22 13:22] #91 closed

[2020-07-22 17:17] suedehed commented on #95
Updated to 2.1.4 this morning and here is what I am seeing:

[7/22/2020, 12:39:28] [Garage Door] FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/dd90ffe2-4637-4119-b888-416426c7caf8/Devices failed, reason: read ECONNRESET
    at ClientRequest.<anonymous> (/usr/local/lib/node_modules/homebridge-myq2/node_modules/node-fetch/lib/index.js:1455:11)
    at ClientRequest.emit (events.j

[2020-07-22 17:22] hjdhjd commented on #95
@suedehed This is not an issue and can be safely ignored. Please see https://github.com/hjdhjd/homebridge-myq2/issues/94#issuecomment-662202103 for details.

[2020-07-24 01:11] #95 closed

[2020-07-29 16:10] Infallibleman opened #97 "Fetch error"
[7/29/2020, 11:01:04 AM] [myQ] double garage: Closed.
[7/29/2020, 11:01:04 AM] [myQ] Single Garage: Closed.
[7/29/2020, 11:03:06 AM] [myQ] FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/a6a214ac-4d4a-4a7c-accc-cd8fc941e7cd/Devices failed, reason: read ECONNRESET
    at ClientRequest.<anonymous> (/usr/lib/node_modules/homebridge-myq2/node_modules/node-fetch/lib/index.js:1455:11)

[2020-07-31 06:41] joconor commented on #97
Having an almost identical problem. Same stack trace, but the only difference is the error is EAI_AGAIN. Perhaps difference is underlying IP stack. I'm running on Raspberry PI 3B+ Raspbian GNU/Linux 10 (buster) with Node.js version v12.18.3

[2020-07-31 07:47] hjdhjd commented on #97
This is not a bug. Please read the README. [There is a section specifically on this topic](https://github.com/hjdhjd/homebridge-myq2#myq-errors)

[2020-07-31 07:47] #97 closed

[2020-08-11 18:48] SniperStan opened #98 "Enhancement- Gate Operator"
I have a MyQ LiftMaster SL3000 Gate Operator, I would love to be able to open it partway(Open then Stop) for foot traffic and yet keep cars out of the property.

[2020-08-11 19:41] whreams commented on #98
Interesting thought - but that would imply that the block sensor would need to be shorter so that foot traffic could still pass but a “vehicle” would leave the gate open longer?  Maybe you can do the same thing with a wireless keypad and IFTTT?

[2020-08-11 23:05] hjdhjd commented on #98
TL;DR this isn’t possible in HomeKit in a meaningful way. Why? HomeKit views garage doors (and gates) as “doors”. And for HomeKit, doors can only have these states:

https://developer.apple.com/documentation/homekit/hmcharacteristicvaluedoorstate if you’re bored. :)

The values that are relevant though are:

open - the door is fully open.
closed - the door is fully closed.
opening - the door is ac

[2020-08-14 16:32] jlg89 opened #99 "After update to 2.1.9, seeing only "Internal Server Error" messages"
Updated the plugin to 2.1.9, and now I get this every couple of minutes in the log. Tried rebooting, no change:

8/14/2020, 11:25:40 AM [MyQ2] myQ API: Error: 500 Internal Server Error
8/14/2020, 11:25:40 AM [MyQ2] myQ API: Unable to update device status from myQ servers. Acquiring a new security token and retrying later.

[2020-08-14 16:47] jlg89 commented on #98
You might have to use something like a Sonoff SV with https://github.com/RavenSystem/esp-homekit-devices to emulate a standalone pushbutton. Put a magnetic sensor on the gate, with one magnet at full-closed and another at the point where you want it to stop for foot traffic, and come up with the proper JSON to make the Sonoff module start/stop the gate appropriately. Then you could label it as "Fo

[2020-08-14 16:47] dppeak commented on #99
I'm seeing the same thing.

[2020-08-14 17:43] hjdhjd commented on #99
As am I. Here's my question: does downgrading to 2.1.8 resolve this? You can test this by doing:

`npm -g install homebridge-myq2@2.1.8`

[2020-08-14 17:45] hjdhjd commented on #99
I'm trying to resolve whether this is a plugin issue or a myQ issue. :smile:

[2020-08-14 17:58] dppeak commented on #99
just started getting this with 2.1.9

[8/14/2020, 12:49:50 PM] [myQ] FetchError: request to https://api.myqdevice.com/api/v5.1/Accounts/{_UUID deleted for security_}/Devices failed, reason: getaddrinfo EAI_AGAIN api.myqdevice.com
    at ClientRequest.<anonymous> (/homebridge/node_modules/homebridge-myq2/node_modules/node-fetch/lib/index.js:1455:11)
    at ClientRequest.emit (events.js:315:20)

[2020-08-14 18:00] hjdhjd commented on #99
@dppeak See above. Try the prior version and see if the issues persist. The error above is a network error. It's not obvious at the moment if the error is due to something in the plugin or the myQ servers.

[2020-08-14 18:05] dppeak commented on #99
still see the "Error: 500 Internal Server Error" on 2.1.8

[2020-08-14 18:25] dppeak commented on #99
actually, had to specifically uninstall 2.1.9 after installing 2.1.8 as it was still present.

[2020-08-14 19:12] hjdhjd commented on #99
Which leads me to believe it's more on myQ's end than ours...I'm seeing these errors as well.

[2020-08-14 19:27] hjdhjd commented on #99
I've seen the errors disappear in 2.1.8...so if others can confirm it works for them, I'll go and figure out the regression here.

For those reading this now:

Try:

[code]

See if that eliminates the errors you're seeing.

[2020-08-14 19:43] dppeak commented on #99
I ran the uninstall and installs you posted and will let you know if I see further errors.

[2020-08-14 19:44] hjdhjd commented on #99
I've identified the issue and will be fixing it in an update shortly. Thanks.

[2020-08-14 20:13] jlg89 commented on #99
Not sure if this helps, but I uninstalled the plugin completely, reinstalled 2.1.9 and reconfigured, and I haven't seen any errors.